{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    
    $('#agregar').click(function(evento) {
          this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_ingresarObjetivoEspecifico') }}';
    });
    
      
    $('#reporteProgramon').click(function(evento) {
          this.form.action='{{ path('MinSalSidPlaReportesBundle_reporteDependenciaInvidual') }}';
    });
    
});
</script>
    <form action="" method="post">
        <input type="hidden" name="anioConsultar" value="{{"now" | date("Y")+1}} " />
        <input type="hidden" name="idDepen" value="{{ idDepen }} " />
        
        <table align="center">
            <tr>
                <td align="center"><h1>Gestion de Objetivos Especificos</h1>
                </td>
            </tr>
            <tr>
                <td align="center" class="tdBotonIconoAgregar" >
                    <input width="60" height="60" type="image" src="{{ asset('/images/iconos/agregar.png')}}" id="agregar"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input width="60" height="60" type="image" src="{{ asset('/images/iconos/gestion.png')}}" id="reporteProgramon"/>
                    <br/>Agregar Objetivo &nbsp;&nbsp;&nbsp; Reporte
                </td>
                               
            </tr>
            <tr>
                <td align="center">               
                {% include 'MinSalSidPlaGesObjEspBundle:GestionObjetivosEspecificos:showAllObjetivosEspecificos.html.twig'  with {'idCaractOrg': idCaractOrg} %} 
                </td>
            </tr>        
        </table>
         <input type='hidden' name='idfila' id="idfila" value='' />
         <input type='hidden' name='id' id="id" value='' />  
         <input type='hidden' name='idCaractOrg' id="idCaractOrg" value='{{idCaractOrg}}' />
    </form>
    <br/><br/>
  
{% endblock %}
