{# Muestra todos las opciones #}
{% block body %}

    <table WIDTH='85%' class="tablaPlantilla">
        <thead>
            <tr  style=" font-size: 14px;">
                <th class="thEncabezadoPlantilla"><strong>  Cod </strong></th>
                <th class="thEncabezadoPlantilla"><strong>  Objetivo </strong>
                </th>
                <th class="thEncabezadoPlantilla" colspan="2"><strong>  Acciones </strong>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if objetivos is defined %}
            {%for obj in objetivos%}
               
               <tr>
                 <td class="tdCuerpoPlantilla">{%if obj.nomenclatura is null%}<strong> En Asignación </strong>{%else%}{{ obj.nomenclatura}}{%endif%}</td>  
                 <td class="tdCuerpoPlantilla">{{ obj.getDescripcion}}</td>
                 <td class="tdBotonesIconos" WIDTH='60' >
                      <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}"  id="editar" onclick="$('#id').attr('value',{{obj.getIdObjEspec}});$('#idCaractOrg').attr('value', {{idCaractOrg}});this.form.action='{{path('MinSalSidPlaGesObjEspBundle_editarObjetivoEspecifico')}}';" />
                      <br/>Editar
                 </td>
                 <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}"  id="resultadoEsperado" onclick="$('#idfila').attr('value', {{obj.getIdObjEspec}}); this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados')}}';" />
                    <br/>Resultados Esperados
                 </td>
               </tr>
            {%endfor%}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
