{# Muestra todos las opciones #}
{% block body %}

    <table border="1" WIDTH='85%'>
        <thead>
            <tr  style=" font-size: 14px;">
                <th><strong>  Objetivo </strong>
                </th>
                <th colspan="2"><strong>  Acciones </strong>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if objetivos is defined %}
            {%for obj in objetivos%}
               <tr>
                 <td style=" font-size: 12px;">{{ obj.getDescripcion}}
                 </td>
                 <td class="tdBotonesIconos" WIDTH='60' >
                      <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}"  id="editar" onclick="$('#id').attr('value',{{obj.getIdObjEspec}});$('#idCaractOrg').attr('value', {{idCaractOrg}});this.form.action='{{path('MinSalSidPlaGesObjEspBundle_editarObjetivoEspecifico')}}';" />
                      <br/>Editar
                 </td>
                 <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}"  id="resultadoEsperado" onclick="$('#idfila').attr('value', {{obj.getIdObjEspec}}); this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados')}}';" />
                    <br/>Resultados Esperados
                 </td>
               </tr>
            {%endfor%}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
