{# SIDPLA - MINSAL
   Copyright (C) 2011  Bruno González   e-mail: bagonzalez.sv EN gmail.com
   Copyright (C) 2011  Universidad de El Salvador

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

 
{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
	Highcharts.theme = { colors: ['#4572A7'] };// prevent errors in default theme
	var highchartsOptions = Highcharts.getOptions(); 
</script>
<script>
    
    
    $(document).ready(function(){        
        {% if objetivos is defined %}
                    
                    
                    {% for obj in objetivos %}
                        $("#{{ obj.idObjEspec }}Div").hide();                        
                        
                        $("#mostratObj{{ obj.idObjEspec }}").click(function(){ 
                                $("#{{ obj.idObjEspec }}Div").toggle(400);
                            }                            
                         )
                             
                          {% for res in obj.getResultadoEsperado %}
                                           var chart{{ res.idResEsp }};
                                           var colores=['#4572A7','#AA4643','#89A54E','#80699B','#3D96AE','#DB843D' ];
                                           chart = new Highcharts.Chart({
                                              chart: {
                                                 renderTo: 'container{{ res.idResEsp }}',
                                                 margin: [50, 0, 0, 0],
                                                 plotBackgroundColor: 'none',
                                                 plotBorderWidth: 0,
                                                 plotShadow: false            
                                              },
                                              title: {
                                                 text: 'Resultado Global de Actividades'
                                              },
                                              subtitle: {
                                                 text: 'Segun Trimestre'
                                              },
                                              tooltip: {
                                                 formatter: function() {
                                                    return '<b>'+ this.series.name +'</b><br/>'+ 
                                                       this.point.name +': '+ this.y +' %';
                                                 }
                                              },
                                               series: 
                                                   [{
                                                         type: 'pie',
                                                         name: 'Trimestre {{trimestre}}',
                                                         size: '40%',
                                                         innerSize: '20%',
                                                         data: [                                                   
                                                            {% for actividadAux in res.actividades %}                                                                            
                                                                            {% for actividad in actividades %}                                                                     
                                                                               {% if actividadAux.idAct == actividad.idAct %}  
                                                                                        { name: '{{ actividad.getActDescripcion }}', y: {{ actividad.getPorcentajeCumplimiento}} , color: colores[ Math.floor(Math.random()*(5-(0-1)))+0   ] },                                                                                           
                                                                               {% endif %}                                                                                   
                                                                            {% endfor %}
                                                            {% endfor %}
                                                            
                                                            
                                                       ],
                                                       dataLabels: {
                                                       enabled: true,
                                                       color: Highcharts.theme.textColor || '#000000',
                                                       connectorColor: Highcharts.theme.textColor || '#000000'
                                                        }
                                                }]
                                         });
                          
                          
                                $("#{{ res.idResEsp }}ResDiv").hide();  
                                
                                $("#mostratRes{{ res.idResEsp }}").click(function(){ 
                                        $("#{{ res.idResEsp }}ResDiv").toggle(400);
                                    }                            
                                 )
                          {% endfor %}
                    {% endfor %} 
        {% endif %}  
            
         
                        
            
    });
</script>

    <br></br>               
    <form id = "formulario"  action=" " method="post">
        <table align="center"  >
            <tr><td colspan="2" align="center"><h1>Forma Seguimiento Plan</h1>                    
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    Seleccione un objetivo especifico y resultado esperado para ingresar la justificacion del atraso de actividades. <br>
                    De clic en el boton  Compromiso para registrar los hallazgos,medidas adoptar etc.
                </td>
            </tr>            
            {% if objetivos is defined %}                                                                          
                    {% for obj in objetivos %}
                        <tr>
                            <td>
                                <h3>Objetivo Especifico:</h3>
                            </td>
                            <td>
                                 <h3>&RightTriangle;<a  id="mostratObj{{ obj.idObjEspec }}" href="#">{{ obj.descripcion }}</a></h3>                                
                            </td>
                        </tr>                        
                        <tr>
                                <td colspan="2" align="center" size="100%" >                            
                                    <div   class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{ obj.idObjEspec }}Div">
                                        <table border="1" >
                                            {% for res in obj.getResultadoEsperado %}                                               
                                               {% if( (res.unidadOrganizativa.getIdUnidadOrg == idUnidad) or (res.unidadOrganizativa is null ) ) %}                                                                                                
                                                    <tr>
                                                        <td>
                                                            <h4>Resultado Esperado:</h4>
                                                        </td>
                                                        <td>
                                                            <h4> <a  id="mostratRes{{ res.idResEsp }}" href="#">{{ res.resEspeDesc }}</a></h4>
                                                            <h4> Realizado : {{ res.getPorcentajeCumplimiento }} % </h4>
                                                            <h4> Costo Real de Resultado Esperado: $ {{ res.getCostoTotalReal }} </h4>
                                                        </td>
                                                    </tr>                                                                                                        
                                                    <tr>
                                                        <td colspan="3" >
                                                            <div align="center"  class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{ res.idResEsp }}ResDiv">
                                                                <table border="1">
                                                                <thead>
                                                                    <tr>
                                                                        {% if trimestre == 1 %} 
                                                                            <th align="center" colspan="9" ><h3>Actividades Atrasadas</h3> </th>
                                                                        {% endif %}     
                                                                        {% if trimestre == 2 %} 
                                                                         <th align="center" colspan="14" ><h3>Actividades  Atrasadas</h3> </th>
                                                                        {% endif %}
                                                                        {% if trimestre == 3 %} 
                                                                         <th align="center" colspan="19" ><h3>Actividades  Atrasadas</h3> </th>
                                                                        {% endif %}
                                                                        {% if trimestre == 4 %} 
                                                                         <th align="center" colspan="24" ><h3>Actividades  Atrasadas</h3> </th>
                                                                        {% endif %}
                                                                    </tr>
                                                                    <tr>                                                                        
                                                                        <th rowspan="2" >Descripcion</th>
                                                                        
                                                                        {% if trimestre >= 1 %} 
                                                                            <th colspan="5" >Primer Trimestre</th>
                                                                        {% endif %}
                                                                        {% if trimestre >= 2 %} 
                                                                            <th colspan="5" >Segundo Trimestre</th>
                                                                        {% endif %}
                                                                        {% if trimestre >= 3 %} 
                                                                            <th colspan="5" >Tercer Trimestre</th>
                                                                        {% endif %}
                                                                        {% if trimestre >= 4 %} 
                                                                            <th colspan="5" >Cuarto Trimestre</th>
                                                                        {% endif %}
                                                                    <tr>
                                                                       {% if trimestre >= 1 %} 
                                                                            <th>Program.</th>
                                                                            <th>Realizado</th>
                                                                            <th>Fecha de finalizacion</th>
                                                                            <th>%</th>
                                                                            <th>Accion</th>
                                                                       {% endif %}
                                                                            
                                                                       {% if trimestre >= 2 %} 
                                                                        
                                                                           <th>Program.</th>
                                                                            <th>Realizado</th>
                                                                            <th>Fecha de finalizacion</th>
                                                                            <th>%</th>
                                                                            <th>Accion</th>
                                                                       {% endif %} 
                                                                        
                                                                       {% if trimestre >= 3 %} 
                                                                           <th>Program.</th>
                                                                            <th>Realizado</th>
                                                                            <th>Fecha de finalizacion</th>
                                                                            <th>%</th>
                                                                            <th>Accion</th>
                                                                       {% endif %} 
                                                                        
                                                                       {% if trimestre >= 4 %}  
                                                                           <th>Program.</th>
                                                                            <th>Realizado</th>
                                                                            <th>Fecha de finalizacion</th>
                                                                            <th>%</th>
                                                                            <th>Accion</th>
                                                                       {% endif %}  
                                                                       
                                                                    </tr>
                                                                        
                                                                    </tr>
                                                                    
                                                                </thead> 
                                                                <tfoot>
                                                                    <tr>
                                                                        {% if trimestre == 1 %} 
                                                                         <td align="center" colspan="9" > 
                                                                        {% endif %}     
                                                                        {% if trimestre == 2 %} 
                                                                         <td align="center" colspan="14" > 
                                                                        {% endif %}
                                                                        {% if trimestre == 3 %} 
                                                                         <td align="center" colspan="19" > 
                                                                        {% endif %}
                                                                        {% if trimestre == 4 %} 
                                                                         <td align="center" colspan="24" > 
                                                                        {% endif %}
                                                                                 
                                                                             <div id="container{{ res.idResEsp }}" class="highcharts-container" style="height:210px; margin: 0 2em; clear:both; min-width: 1000px"></div>
                                                                         </td>
                                                                    </tr> 
                                                                </tfoot>
                                                                <tbody>
                                                                {% for actividadAux in res.actividades %}                                                                       
                                                                    {% for actividad in actividades %}                                                                     
                                                                       {% if actividadAux.idAct == actividad.idAct %}                                                                            
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ actividad.getActDescripcion }}
                                                                                    </td>
                                                                                    
                                                                                    {% for resultadoAct in actividad.getResulAct %}
                                                                                        {% if trimestre >= resultadoAct.resulActTrimestre  %}
                                                                                            <td align="center">
                                                                                                {{ resultadoAct.getResulActProgramado }}
                                                                                            </td>
                                                                                            <td align="center">
                                                                                                
                                                                                                    {{ resultadoAct.getResulActRealizado }}
                                                                                                
                                                                                                    
                                                                                                
                                                                                                
                                                                                            </td> 
                                                                                           
                                                                                            <td align="center">
                                                                                                                                                                                                                                                                              
                                                                                                    
                                                                                                
                                                                                            </td>
                                                                                            <td align="center">
                                                                                                    {{  resultadoAct.getPorcentajeCumplimiento ~ "%"  }}
                                                                                            </td>
                                                                                             <td align="center">
                                                                                                 {% if resultadoAct.getResulActRealizado < resultadoAct.getResulActProgramado  %}
                                                                                                    <input type="submit" id="compromiso" value="Compromiso" onclick="$('#idresact').attr('value',{{resultadoAct.idResulAct}});this.form.action='{{path('MinSalSidPlaPrograMonitoreoBundle_ingresoActividadesEnRetraso')}}';" />
                                                                                                 {% else %}
                                                                                                    CUMPLIDA
                                                                                                {%  endif%}
                                                                                                 </td>
                                                                                        {%  endif%}                                                                                    
                                                                                    {% endfor %}
                                                                                </tr>                                                                            
                                                                       {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}                                                                                
                                                                </tbody>
                                                                </table>                                                                
                                                            </div>
                                                        </td>
                                                    </tr>                                                    
                                                {% endif %}
                                            {% endfor %}
                                        </table>                                        
                                    </div>
                                </td>                            
                        </tr>
                    {% endfor %}                                                                                           
            {% endif %}  
            
            <tr>           
                <td colspan="2" align="center">
                <br></br>                                    
                </td>
            </tr>        
            <tr>
                <td colspan="2" align="center">
                     <input type='hidden' name='idresact' id="idresact" value='' />
                    <input type="submit" value="Guardar" name= "agregar" id="agregar"</input>                    
                </td>
            </tr>        
        </table>   
    </form>
    <br></br>
    <br></br>

{% endblock %}