{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">        
      $(document).ready(function(){
           $('#tabs').tabs(); 

      
      });
      
</script>
<br></br>
<br></br>
<br></br>
<div id="tabs">
        <ul>
                <li><a href="#tabs-1">Informacion General</a></li>
                <li><a href="#tabs-2">Caracteristicas Organizaci&oacute;n</a></li>                
        </ul>
        <div id="tabs-1" >
            <form action="{{ path('MinSalSidPlaCensoBundle_addCategoria') }}" method="post" {{ form_enctype(form) }}>
              {{ form_rest(form) }} 

                    <table>
                        <tr>
                            <td colspan="2" >Nombre Unidad</td>
                            <td colspan="2">{{ unidadOrg }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Instancia de quien depende</td>
                            <td colspan="2">{{ unidadPadre }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Direcci&oacute;n</td>
                            <td colspan="2">{{direccion}}</td>
                        </tr>
                        <tr>
                            <td>Telefono</td>
                            <td>{{telefono}}</td>
                            <td>Fax</td>
                            <td>{{fax}}</td>
                        </tr>    
                    </table>     


            </form>
        </div>
        <div id="tabs-2"></div>

{% endblock body %}