{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">  
     
        
      $(document).ready(function(){           
           
      
           $('#tabs').tabs(); 
           $('#guardarInfoGen').button();
           $('#guardarCarac').button();
           $('#dialog').jqm();
            $("#telefono").mask("9999-9999",{placeholder:" "});
            $("#fax").mask("9999-9999",{placeholder:" "});
           
      });
      
</script>
<h1 style="text-align: center"> Informaci&oacute;n General y Caracteristicas de la Organizaci&oacute;n</h1>
<div id="tabs">
        <ul>
                <li><a href="#tabs-1">Informacion General</a></li>
                <li><a href="#tabs-2">Caracteristicas Organizaci&oacute;n</a></li>                
        </ul>
        <div id="tabs-1" align="center">
            <form action="{{ path('MinSalSidPlaUnidadOrgBundle_guardarInfoGeneral') }}" method="post" {{ form_enctype(form) }}>              
                    <table size="100%" >
                        <tr>
                            <td size="30%" colspan="2" >Nombre Unidad:</td>
                            <td size="70%" colspan="2">{{ unidadOrg }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Instancia de quien depende:</td>
                            <td colspan="2">{{ unidadPadre }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Direcci&oacute;n:</td>
                            <td colspan="2"><input size="60%" name="direccion" id="direccion" value="{{infoGeneralcoddireccion }} "></input></td>
                        </tr>
                        <tr>
                            <td colspan="2">Telefono: <td colspan="1" ><input size="20%" name="telefono" id="telefono" value="{{infoGeneralcodtelefono }} "></input></td>
                            <td colspan="1">Fax:<input size="20%" name="fax" id="fax" value="{{infoGeneralcodfax}} "></input></td>
                        </tr> 
                        <tr>
                            <td colspan="2">Email:</td>
                            <td colspan="3" ><input size="30%" name="mail" id="mail" value="{{infoGeneralcodmail}} "></input>
                        </tr>
                        <tr>
                        <td >Responsable: </td>
                        <td colspan="3" >{{ nombreempleado}} {{segundonombre}} {{apellidoempleado}} {{ segundoapellido}}<input type='hidden' size="60%" name="responsable" readonly="readonly" id="responsable" value="{{ nombreempleado}} {{segundonombre}} {{apellidoempleado}} {{ segundoapellido}}"></input><input type='hidden' class="jqModal" value="..." id="buscar"></input></td>
                        </tr>                        
                        <tr>
                            <td colspan="4"><br></br>Departamentos, Unidades, Secciones, ó Disciplinas que componen la dependencia y número de empleados. 
                                <br></br>
                            {%include 'MinSalSidPlaDepUniBundle:DepartamentoUni:gridDeptoUni.html.twig' %}
                                <p>Si desea cambiar la cantidad de personas asignadas a su departamento de <a href="{{ path('MinSalSidPlaDepUniBundle_principal') }}">De clic aqui</a> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                              <input type='hidden' name='idempleado' id="idempleado" value='{{responsable}}'> </input>
                               <input type='hidden' name='unidadorgcod' id="unidadorgcod" value='{{unidadorgcod}}'> </input>
                                <input type='hidden' name='infoGeneralcod' id="infoGeneralcod" value='{{infoGeneralcod}}'> </input>
                                <button type="submmit" id="guardarInfoGen"  >Guardar</button>                                
                            </td>                            
                        </tr>
                      </table>     


            </form>
               
        
            </div>
        
     <div id="tabs-2" align="center"   >
            <form action="{{ path('MinSalSidPlaUnidadOrgBundle_guardarCaracteristicas') }}" method="post" {{ form_enctype(formOrg) }}>
                <input type="hidden" id="totalFunciones" name="totalFunciones" value="" />
                <input type="hidden" id="totalObjetivos" name="totalObjetivos" value="" />
                <table size="100%" border="0" >
                    <tr>
                        <td size="30%" >Misión: </td>
                        <td size="70%" >{{ form_widget(formOrg.mision, { 'attr': {'class': 'textAreaGrande'} } ) }}        </td>
                    </tr>
                    <tr>
                        <td>Visión: </td>
                        <td style="width: 591px; height: 61px;">{{ form_widget(formOrg.vision,  { 'attr': {'class': 'textAreaGrande'} }) }}        </td>
                    </tr>
                    <tr>
                        <td>Objetivo General: </td>
                        <td style="width: 591px; height: 61px;">{{ form_widget(formOrg.objetivoGeneral,  { 'attr': {'class': 'textAreaGrande'} }) }}        </td>
                    </tr>
                    
                    <tr>
                        <td  colspan="4">Objetivos Especificos: </td>                    
                    </tr> 
                    <tr>
                         <td colspan="4" >{% include 'MinSalSidPlaUnidadOrgBundle:InforCaractOrg:showObjetivosEspecificosAll.html.twig'  with {'idCaractOrg': idCaractOrg} %} </td>                        
                    </tr>                     
                    <tr>
                        <td>Función Principal: </td>
                        <td>{{ form_widget(formOrg.funcionPrincipal, { 'attr': {'class': 'textAreaGrande'} }) }}</td>
                    </tr>
                    
                    <tr>
                        <td colspan="4" >Funciones Especificas:</td>
                    </tr>
                     <tr>
                         <td colspan="4" >{% include 'MinSalSidPlaUnidadOrgBundle:InforCaractOrg:showFuncionesOrganizativasAll.html.twig'  with {'idCaractOrg': idCaractOrg} %} </td>                        
                    </tr>                      
                   
                    <tr>
                       <td colspan="4" align="center">
                                <button type="submmit" id="guardarCarac"  >Guardar</button>                                
                            </td>                            
                    </tr>
                </table>   
                    
                {{ form_rest(formOrg) }} 
            </form>               
        </div>

{% endblock body %}