{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
 $(document).ready(function(){
    $('#crearPlantilla').button();
    $('#crearPlantilla').hide();
    $('#crearPlantilla').click(function(evento) {
          $('#anio').attr('value', $('#selanio').val());
          this.form.action='{{ path('MinSalSidPlaTemplateUnisalBundle_crearPlantilla') }}';
    });
     
 {% for  area in  areas%}
     $("#{{"now" | date("Y")}}{{area.getCodArea}}Div").hide();
     $("#{{"now" | date("Y")+1}}{{area.getCodArea}}Div").hide();      
{% endfor%}
    
     $("#"+$('#selanio').val()+$('#selarea').val()+"Div").show();
     $('#agregar').click(function() {
        $('#anio').attr('value', $('#selanio').val());
        $('#idArea').attr('value', $('#selarea').val());
        this.form.action='{{ path('MinSalSidPlaTemplateUnisalBundle_ingresarObjetivoEspeUnisal') }}';
     });
              
  $('#selanio').change(function(){
{% for  area in  areas%}
     $("#{{"now" | date("Y")}}{{area.getCodArea}}Div").hide();
     $("#{{"now" | date("Y")+1}}{{area.getCodArea}}Div").hide();      
{% endfor%}
      $("#"+$('#selanio').val()+$('#selarea').val()+"Div").show();
      if($('#selanio').val()=={{"now" | date("Y")+1}}){
          {% if muestra==1 %}
            $('#crearPlantilla').show(); 
          {% else%}
            $('#crearPlantilla').hide(); 
          {% endif%}
      }else
         $('#crearPlantilla').hide(); 
  });
  
  $('#selarea').change(function(){
     {% for  area in  areas%}
     $("#{{"now" | date("Y")}}{{area.getCodArea}}Div").hide();
     $("#{{"now" | date("Y")+1}}{{area.getCodArea}}Div").hide();      
{% endfor%}
     $("#"+$('#selanio').val()+$('#selarea').val()+"Div").show();
  });
});
    </script>
    <form action="" method="post">
        <table align="center">
            <tr><td align="center"><h1>Gestion de Plantilla de Actividades Trazadoras para Unidad de Salud</h1>
                </td>
            </tr>
            <tr>
                <td align="center" style=" font-size: 12px"><strong>Seleccione el Año a Gestionar </strong>
                    <select id='selanio'>
                        <option value='{{ "now" | date("Y") }}'>{{ "now" | date("Y") }}</option>
                        <option value='{{ "now" | date("Y")+1 }}'>{{ "now" | date("Y")+1 }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center" style=" font-size: 12px"><strong>Seleccione Area a Gestionar</strong>
                    <select id='selarea'>
                        {% for  area in  areas%}
                            <option value='{{ area.getCodArea }}'>{{ area.getNombreArea }}</option>
                        {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <p  style=" font-size: 11px;font-family: Verdana, Geneva, sans-serif">Si desea agregar más Áreas para objetivos <a href="mantenimientoAreasClasificacion" >De clic aqui</a> </p>
                        <input width="60" height="60" type="submit" name="crearPlantilla" id="crearPlantilla" value="Crear Plantilla"/>
                    </td>
                </tr>
                <tr colspan="2">
                    <td align="center" class="tdBotonIconoAgregar" >
                         
                        <input width="60" height="60" type="image" src="{{ asset('/images/iconos/agregar.png')}}" name="agregar" id="agregar"/>
                        <br/>Agregar Objetivo
                        
                    </td>
                    
                </tr>
             <tr>
                    <td align="center">
                        <br></br>                
                {% include 'MinSalSidPlaTemplateUnisalBundle:ObjetivoEspeUnisal:showObjetivoEspecificoUnisal.html.twig' %} 
                    </td>
                </tr>        
            </table>
            <input type='hidden' name='anio' id="anio" value='' />
            <input type='hidden' name='idArea' id="idArea" value='' />
            <input type='hidden' name='idObj' id="idObj" value='' /> 
        </form>
        <br></br>
        <br></br>


{% endblock %}