  {% for  area in  areas%}
<div id="{{"now" | date("Y")}}{{area.getCodArea}}Div">
    <table WIDTH='85%' class="tablaPlantilla">
        <thead>
            <tr  style=" font-size: 14px;">
                <th class="thEncabezadoPlantilla"><strong>  Cod </strong>
                </th>
                <th class="thEncabezadoPlantilla"><strong>  Objetivo </strong>
                </th>
                <th colspan="3" class="thEncabezadoPlantilla"><strong>  Acciones </strong>
                </th>
            </tr>
        </thead>
        <tbody>
    {%for obj in objTemplateDao.obtenerPorArea(area.getCodArea ,proUnisalActual.anioProUniTem)%}
                <tr>
                    <td class="tdCuerpoPlantilla" >{%if obj.nomenObjEspUni is null%}<strong> En Asignación </strong>{%else%}{{ obj.nomenObjEspUni}}{%endif%}</td>
                    <td  class="tdCuerpoPlantilla"  >{{ obj.getDescObjEspUni}}</td>
                    <td class="tdBotonesIconos" WIDTH='60' >
                        <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}"  id="editar" value="Editar" onclick="$('#idObj').attr('value',{{obj.getcodObjEspUni}});$('#anio').attr('value', $('#selanio').val());$('#idArea').attr('value', $('#selarea').val());this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_editarObjetivoEspeUnisal')}}';" />
                        <br/>Editar
                    </td>
                    <td class="tdBotonesIconos" WIDTH='60' >
                        <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idObj').attr('value',{{obj.getcodObjEspUni}});this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_mostrarResEspeUnisal')}}';" />
                        <br/>Resultados Esperados
                    </td>
                    <td class="tdBotonesIconos" WIDTH='60' >
                        <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idObj').attr('value',{{obj.getcodObjEspUni}});this.form.action='{{path('MinSalSidPlaIndicadoresTemplateBundle_mostrarIndicadoresSalud')}}';" />
                        <br/>Indicadores de Salud

                    </td>
                </tr>
    {% endfor%}
            </tbody>
        </table>
    </div> 
  {% endfor%}



 {% for  area in  areas%}
    <div id="{{"now" | date("Y")+1}}{{area.getCodArea}}Div">
       <table WIDTH='85%' class="tablaPlantilla">
            <thead>
                  <tr  style=" font-size: 14px;">
                <th class="thEncabezadoPlantilla"><strong>  Cod </strong>
                </th>
                <th class="thEncabezadoPlantilla"><strong>  Objetivo </strong>
                </th>
                <th colspan="3" class="thEncabezadoPlantilla"><strong>  Acciones </strong>
                </th>
            </tr>
            </thead>
            <tbody>
    {%for obj in objTemplateDao.obtenerPorArea(area.getCodArea ,proUnisalSiguiente.anioProUniTem)%}
                    <tr>
                        <td class="tdCuerpoPlantilla">{{ obj.nomenObjEspUni}}
                        </td>
                        <td class="tdCuerpoPlantilla">{{ obj.getDescObjEspUni}}
                        </td>

                        <td class="tdBotonesIconos" WIDTH='60' >
                            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}"  id="editar" value="Editar" onclick="$('#idObj').attr('value',{{obj.getcodObjEspUni}});$('#anio').attr('value', $('#selanio').val());$('#idArea').attr('value', $('#selarea').val());this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_editarObjetivoEspeUnisal')}}';" />
                            <br/>Editar
                        </td>
                        <td class="tdBotonesIconos" WIDTH='60' >
                            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" value="Resultados Esperados" onclick="$('#idObj').attr('value',{{obj.getcodObjEspUni}});this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_mostrarResEspeUnisal')}}';" />
                            <br/>Resultados Esperados
                        </td>
                        <td class="tdBotonesIconos" WIDTH='60' >
                            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idObj').attr('value',{{obj.getcodObjEspUni}});this.form.action='{{path('MinSalSidPlaIndicadoresTemplateBundle_mostrarIndicadoresSalud')}}';" />
                            <br/>Indicadores de Salud

                        </td>
                        </td>
                    </tr>
        {% endfor%}
                </tbody>
            </table>

        </div>   

  {% endfor%}

