{# empty Twig template #}

{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">        
      $(document).ready(function(){
          
          
           $('#regresar').click(function() {
            this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados') }}';
           
          });
           
           $('#agregar').click(function() {
            this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editandoResultadosEsperados') }}';
             
          });
          $('#tabs').tabs();
      
         
         if('{{resultadoEsperadoTipoMeta}}'==1){
            $('#selectipometa').val('1');
          }
          if('{{resultadoEsperadoTipoMeta}}'==2){
             $('#selectipometa').val('2');
         }
});
      
</script>
      
<br></br>
<br></br>
<br></br>
<h2 class="demoHeaders">Edicion del Resultado Esperado</h2>
<div id="tabs">
        <ul>
                <li><a href="#tabs-1">Nuevo Resultado</a></li>
                
        </ul>
        <div id="tabs-1" >
            <form action="{{ path('MinSalSidPlaGesObjEspBundle_editandoResultadosEsperados')}}" method="post" >
                <table align="center" id="datos"  >
                    <tr>
                        <td colspan="4" align="center" >Datos de Resultado Esperado <br><br></td>
                    </tr>
                    
                    <tr>
                        <td >Objetivo:</td>
                        <td colspan="3" ><textarea rows="4" cols="100" name= 'objetivo'  size="60%" id='objetivo' >{{descripcion}}</textarea></td>
                    </tr>
                    <tr>
                        <td >Resultado Esperado:</td>
                        <td colspan="3" ><textarea rows="4" cols="100" name= 'resultadoEsperado'  size="60%" id="resultadoEsperado"  >{{resultadoEsperadoDescrp}}</textarea></td>
                    </tr>
                    <tr>
                        <td >Indicador:</td>
                        <td colspan="3" ><input size="100%" name="Indicador" id="Indicador" value="{{resultadoEsperadoIndicador}}" ></input></td>
                    </tr>
                    <tr>
                        <td >Medio de Verificacion:</td>
                        <td colspan="3" ><input size="100%" name="medioverificacion" id="medioverificacion"  value="{{resultadoEsperadoMedioVerificacion}}" ></input></td>
                    </tr>
                    <tr>
                        <td >Responsables:</td>
                        <td colspan="3" ><input size="100%" name="responsable" id="responsable" value="{{resultadoEsperadoResponsable}}"></input></td>
                    </tr>
                    <tr>
                        <td >Supuestos Factores:</td>
                        <td colspan="3" ><input size="100%" name="supuestosfactores" id="supuestosfactores" value="{{resultadoEsperadoSupuestos}}" ></input></td>
                    </tr>
                    <tr>
                        <td >Meta anual:</td>
                        <td colspan="3" ><input size="20%" name="metaAnual" id="metaAnual" value="{{resultadoEsperadoMetaAnual}}" ></input><select name="selectipometa"  id='selectipometa'><option value='0'>Seleccione el tipo de meta</option><option value='1'>Valor absoluto</option><option value='2'>Porcentaje</option></select></td>
                    </tr>
                    <tr>
                        <td >Descripcion Meta anual:</td>
                        <td colspan="3" ><input size="100%" name="descripMetaAnual" id="descripMetaAnual" value="{{resultadoEsperadoDescripcionMetaAnual}}" ></input></td>
                    </tr>
                   
                        <tr>
                        <td>Programado:</td>
                        </tr>
                       
                        
                        <tr>
                         <TD WIDTH="25%"align="center">1er Trimestre</TD>
                        <TD WIDTH="25%" align="center">2do trimestre</TD>
                        <TD WIDTH="25%" align="center">3er Trimestre</TD>
                        <TD WIDTH="25%" align="center">4to Trimestre</TD>
                         </tr>
                        <tr>
                        <TD WIDTH="25%"align="center"> <input size="25%" name="trimUno" id="trimUno" value='{{trim1}}' ></input></TD>
                        <TD WIDTH="25%"align="center"><input size="25%" name="trimDos" id="trimDos"  value='{{trim2}}'></input></TD>
                        <TD WIDTH="25%"align="center"><input size="25%" name="trimTres" id="trimTres" value='{{trim3}}' ></input></TD>
                        <TD WIDTH="25%"align="center"><input size="25%" name="trimCuatro" id="trimCuatro" value='{{trim4}}' ></input></TD>
                        </tr>   
                      
                       
                       <tr>  
                           <input type='hidden' name='idfila' id="idfila" value='{{idfila}}' /> 
                           <input type='hidden' name='idfilaResultado' id="idfilaResultado" value='{{idfilaResultado}}' /> 
                           <input type='hidden' name='iduno' id="iduno" value='{{iduno}}' />  
                           <input type='hidden' name='iddos' id="iddos" value='{{iddos}}' /> 
                           <input type='hidden' name='idtres' id="idtres" value='{{idtres}}' /> 
                           <input type='hidden' name='idcuatro' id="idcuatro" value='{{idcuatro}}' /> 
                    <td colspan="3" align="center" ><br><br><button type="submmit" id="agregar"  >Guardar</button>
                           
                        </td> 
                         </td> 
                        <td colspan="1" align="center" ><br><br><button type="submmit" id="regresar"  >Regresar</button>
                            
                        </td>
                    </tr>                    
                </table>
            </form>            
        </div>
      
</div>


{% endblock %}{# empty Twig template #}



