{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    $('#agregar').click(function() {
        this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_ingresoResultadosEsperados') }}';
     });
    $('#editarResultado').click(function(evento) {
       alert("Debe editar el Resultado Esperado con su Informacion antes de agregar Actividades\nPor favor seleccione EDITAR y luego podra agregar Actividades");
       evento.preventDefault();
         
         
    });
    $('#reporteProgramon').click(function(evento) {
          this.form.action='{{ path('MinSalSidPlaReportesBundle_reporteDependenciaInvidual') }}';
    });
    
});
 </script>
   <form action= "" method="post">
       <input type="hidden" name="anioConsultar" value="{{"now" | date("Y")+1}} " />
        <input type="hidden" name="idDepen" value="{{ idDepen }} " />
        <table align="center">
            <tr><td align="center"><h1>Gestion de Resultados Esperados</h1>
                        <h1>PAO: {{"now" | date('Y')+1}}</h1>
                </td>
            </tr>
            <tr>
                <td align="center" >
                    <strong>
                 {% if objUniControl is defined %}
                   {% if objUniControl =='true' %}
                     <a  style="font-size: 12px"  href="{{ path('MinSalSidPlaGesObjEspEntControlBundle_consultarObjetivosEspecificos') }}">Objetivos>></a>
                   {% else %}
                      <a  style="font-size: 12px"  href="{{ path('MinSalSidPlaGesObjEspBundle_consultarObjetivosEspecificos') }}">Objetivos>></a>
                   {% endif%}
                 {% else %}
                    <a  style="font-size: 12px"  href="{{ path('MinSalSidPlaGesObjEspBundle_consultarObjetivosEspecificos') }}">Objetivos>></a>
                 {% endif %}
                    </strong>
                </td>
            </tr>
            <tr >
                <td align="center" ><textarea readonly="readonly" rows="4" cols="100" name= 'objetivo' id='objetivo' >{{descripcion}}</textarea>
                </td>
            </tr>
            <tr colspan="2">
                <td align="center" class="tdBotonIconoAgregar">
                   <input width="60" height="60" type="image" src="{{ asset('/images/iconos/agregar.png')}}" name="agregar" id="agregar"/>
                    {% if objUniControl is defined %}
                        {% if objUniControl =='false' %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input width="60" height="60" type="image" src="{{ asset('/images/iconos/documento.png')}}" id="reporteProgramon"/>
                        {% endif%}
                    {% else%}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input width="60" height="60" type="image" src="{{ asset('/images/iconos/documento.png')}}" id="reporteProgramon"/>
             
                    {% endif%}
                   <br/>Agregar Res. Esperado {% if objUniControl is defined %}
                   {% if objUniControl =='false' %}&nbsp;&nbsp;&nbsp; Reporte{% endif%}{% else %}&nbsp;&nbsp;&nbsp; Reporte{% endif%}
                </td>
            </tr>
            <tr>
                <td align="center">
                <br/>                
                {% include 'MinSalSidPlaGesObjEspBundle:GestionResultadosEsperados:showAllResultadosEsperados.html.twig'  with {'idfila': idfila} %} 
                </td>
            </tr>        
        </table>        
    </form>
    <br/><br/>
{% endblock %}
