{# Muestra todos las opciones #}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){
        var myGrid = $('#theGridObj');        
        myGrid.jqGrid({   
          {% if objUniControl is defined %}                                                                          
            url: '{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperadosJSON')}}?idfila={{idfila}}&objUniControl={{objUniControl}}',
          {% else %}
            url: '{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperadosJSON')}}?idfila={{idfila}}',
          {% endif %}
          datatype:'json',
          altRows:true,          
          colNames:['Id','idObjetivo','idtemplate','Idtipometa','Resultado Esperado','nomenclatura','Condicionantes','Meta anual','Descrp Meta anual','Responsable','entidad de Control','indicador','Actions'],
          colModel:[ 
            { name:'id', index: 'id', width:15,editable:false,formatter: 'integer',hidden: true,editoptions:{size:10},sorttype:'int',searchtype:"integer", searchrules:{"required":true, "number":true, "maxValue":2000000}   },
            { name:'idobjetivo', index: 'idobjetivo', width:15,formatter: 'integer',hidden: true,editable:true,editoptions:{size:10}},
            { name:'idResTempl', index: 'idResTempl', width:15,formatter: 'integer',hidden: true,editable:true,editoptions:{size:10}},
            { name:'idTipoMeta', index: 'idTipoMeta', width:15,formatter: 'integer',hidden: true,editable:true,editoptions:{size:10}},
            { name:'resEspeDesc', index: 'resEspeDesc', width:400,editable:true,editoptions:{size:10}},
            { name:'resEspNomencl', index: 'resEspNomencl', width:15,hidden: true,editable:true,editoptions:{size:10}},
            { name:'resEspCondi', index: 'resEspCondi', width:15,editable:true,hidden: true,editoptions:{size:10}},
            { name:'resEspMetAnual', index: 'resEspMetAnual', width:15,editable:true,hidden: true,editoptions:{size:10} },
            { name:'resEspDescMetAnual', index: 'resEspDescMetAnual', width:15,editable:true,hidden: true,editoptions:{size:10}},
            { name:'resEspResponsable', index: 'resEspResponsable', width:15,editable:true,hidden: true,editoptions:{size:10}},
            { name:'resEspEntidadControl', index: 'resEspEntidadControl', width:15,editable:true,edittype:"checkbox",hidden: true,editoptions:{size:10}},
            { name:'resEspIndicador', index: 'resEspIndicador', width:15,editable:true,hidden: true,editoptions:{size:10}},
            {name:'act',index:'act', width:300,sortable:false}],
          rowNum:10,
          rowList:[10,20,30],
          multiselect: false,
          sortname: 'id',
          sortorder: "asc",
          gridComplete: function(){
              var ids = jQuery("#theGridObj").jqGrid('getDataIDs');
              for(var i=0;i < ids.length;i++){ var cl = ids[i];
                  be = "<input style='height:22px;width:100px;' type='submit' id='editar' value='Editar' onclick=\" $('#idfilaResultado').attr('value', '"+cl+"');this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editarResultadosEsperados') }}'; \" />";
                  se = "<input style='height:22px;width:100px;' type='button' id='eliminar' value='Eliminar' onclick=\"$('#idfilaResultado').attr('value', '"+cl+"'); jQuery('#theGridObj').delRowData('"+cl+"'); alert('resultado eliminado con exito!'); \" />";
                  ce = "<input style='height:22px;width:100px;' type='submit' id='Actividades'value='Actividades' onclick=\" $('#idfilaResultado').attr('value', '"+cl+"'); this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}'; \" />";
                  jQuery("#theGridObj").jqGrid('setRowData',ids[i],{act:be+se+ce}); } },
          pager: jQuery('#pagerObj'),
          viewrecords: true,  
          rownumbers: true,
          caption: 'Resultados Esperados',
          height: "100%",
          editCaption: "Editar Registro",
          addCaption: "Nuevo Registro",
          editurl:'manttResultadosEsperados?idfila={{idfila}}'         
            
        });
        myGrid.jqGrid('navGrid','#pagerObj',
        {edit:false,add:false,del:true},
        {width:450,height:200, afterSubmit: fn_editSubmit, closeOnEscape: true,bottominfo:"Campos marcados con (*) son obligatorios", onclickSubmit: function(rp_ge, postdata) {
        alert("datos editados con exito!");},closeAfterEdit:true },//edit
        {width:450,height:1000,bottominfo:"Campos marcados con (*) son obligatorios", onclickSubmit: function(rp_ge, postdata) {
        alert("datos guardados con exito!");},closeAfterAdd:true },//add
        {width:550,height:160,onclickSubmit: function(rp_ge, postdata) {
        alert("resultado eliminado!");
          } },//del
        {},//search
        {} //view
        );
       
      });
      
       //define handler for 'editSubmit' event
    var fn_editSubmit=function(response,postdata){
     var json=response.responseText; //in my case response text form server is "{sc:true,msg:''}"
     var result=eval("("+json+")"); //create js object from server reponse
     return [result.sc,result.msg,null]; 
    }  

    
   
    
    </script>
    <input type='hidden' name='idfila' id="idfila" value='{{idfila}}' />  
     <input type='hidden' name='idfilaResultado' id="idfilaResultado" value='' /> 
    <div id="grid_wrapper" class="ui-corner-all floatLeft">
        <table id="theGridObj" class="scroll" ></table> 
        <div id="pagerObj"  class="scroll" style="text-align:center;"></div> 
      </div>
       
    
{% endblock %}








