{# Muestra todos las opciones #}
{% block body %}

<input type='hidden' name='idfila' id="idfila" value='{{idfila}}' />  
<input type='hidden' name='idfilaResultado' id="idfilaResultado" value='' />
{% if objUniControl is defined %}
   {% if objUniControl =='true' %}
<input type='hidden' name='objUniControl' id="objUniControl" value='true' />
   {% else %}
<input type='hidden' name='objUniControl' id="objUniControl" value='false' />
   {% endif %}
{% else %}
<input type='hidden' name='objUniControl' id="objUniControl" value='false' />
{% endif %}
<table WIDTH='85%' class="tablaPlantilla">
    <thead>
        <tr  style=" font-size: 14px;">
            <th class="thEncabezadoPlantilla"><strong>  Cod </strong></th>
            <th class="thEncabezadoPlantilla"><strong>  Resultado Esperado </strong>
            </th>
            <th class="thEncabezadoPlantilla" colspan="2"><strong>  Acciones </strong>
            </th>
        </tr>
    </thead>
    <tbody>
  {% if objUniControl is defined %}
     {% if resultadosEsperado is defined %}   
        {% for  resultado in  resultadosEsperado%}
            <tr>
                <td class="tdCuerpoPlantilla">{%if resultado.resEspNomencl is null%}<strong> En Asignación </strong>{%else%}{{resultado.resEspNomencl}}{%endif%}</td>
                <td class="tdCuerpoPlantilla">{{ resultado.getResEspeDesc}}
                </td>
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editarResultadosEsperados') }}';" />
                    <br/>Editar
                </td>
               {% if resultadoDao is defined %}
                     {% if resultadoDao.hayResultadosRe(resultado.getIdResEsp)== '0' %}
                                <td class="tdBotonesIconos" WIDTH='60' >
                                    <input id='editarResultado' width="50" height="50" type="image" src="{{ asset('/images/iconos/gestionD.png')}}" />
                                    <br/>Actividades
                                </td>
                     {% else %}
                                <td class="tdBotonesIconos" WIDTH='60' >
                                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}}); $('#objUniControl').attr('value', {{objUniControl}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';" />
                                    <br/>Actividades
                                </td>
                      {% endif%}
                {% else %}
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}}); $('#objUniControl').attr('value', {{objUniControl}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';" />
                    <br/>Actividades
                </td>
                {% endif %}
            </tr>
       {% endfor %}
       {% endif %}
  {% else %}
    {% if resultadosEsperado is defined %}   
        {% for  resultado in  resultadosEsperado%}
            <tr>
                <td class="tdCuerpoPlantilla">{%if resultado.resEspNomencl is null%}<strong> En Asignación </strong>{%else%}{{ resultado.resEspNomencl}}{%endif%}
                </td>
                <td class="tdCuerpoPlantilla">{{ resultado.getResEspeDesc}}
                </td>
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editarResultadosEsperados') }}';" />
                    <br/>Editar
                </td>
                  {% if resultadoDao is defined %}
                     {% if resultadoDao.hayResultadosRe(resultado.getIdResEsp)==0 %}
                        <td class="tdBotonesIconos" WIDTH='60' >
                               <input id='editarResultado' width="50" height="50" type="image" src="{{ asset('/images/iconos/gestionD.png')}}" />
                              <br/>Actividades
                        </td>
                       {% else %}
                        <td class="tdBotonesIconos" WIDTH='60' >
                                <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}}); this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';" />
                                <br/>Actividades
                        </td>
                    {% endif%}
                  {% else %}
                  <td class="tdBotonesIconos" WIDTH='60' >
                                <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}}); this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';" />
                                <br/>Actividades
                  </td>
                {% endif %}  
            </tr>
       {% endfor %}
    {% endif %}
 {% endif %}
        </tbody>
    </table> 

{% endblock %}








