{# Muestra todos las opciones #}
{% block body %}

<input type='hidden' name='idfila' id="idfila" value='{{idfila}}' />  
<input type='hidden' name='idfilaResultado' id="idfilaResultado" value='' />
<input type='hidden' name='objUniControl' id="objUniControl" value='false' />

<table border="1" WIDTH='85%'>
    <thead>
        <tr  style=" font-size: 14px;">
            <th><strong>  Resultado Esperado </strong>
            </th>
            <th colspan="2"><strong>  Acciones </strong>
            </th>
        </tr>
    </thead>
    <tbody>
  {% if objUniControl is defined %}
     {% if resultadosEsperado is defined %}   
        {% for  resultado in  resultadosEsperado%}
            <tr>
                <td style=" font-size: 12px;">{{ resultado.getResEspeDesc}}
                </td>
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editarResultadosEsperados') }}';" />
                    <br/>Editar
                </td>
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}}); $('#objUniControl').attr('value', {{objUniControl}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';" />
                    <br/>Actividades
                </td>
            </tr>
       {% endfor %}
       {% endif %}
  {% else %}
    {% if resultadosEsperado is defined %}   
        {% for  resultado in  resultadosEsperado%}
            <tr>
                <td style=" font-size: 12px;">{{ resultado.getResEspeDesc}}
                </td>
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editarResultadosEsperados') }}';" />
                    <br/>Editar
                </td>
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idfilaResultado').attr('value', {{resultado.getIdResEsp}}); this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';" />
                    <br/>Actividades
                </td>
            </tr>
       {% endfor %}
    {% endif %}
 {% endif %}
        </tbody>
    </table> 

{% endblock %}








