{% extends "MinSalSidPlaUsersBundle::layout.html.twig" %}

{% block fos_user_content %}
<script type="text/javascript">
  $(document).ready(function(){
      $("#_submit").button();
});
</script>
<br></br>
    
<form  action="{{ path("fos_user_security_check") }}" method="post">
    <table align='center'>
        <tr>
            <td colspan="2" align='center' ><h1>Ingreso al Sistema</h1></td>
        </tr>
        <tr>
            <td>
                <label for="username">{{ 'Usuario:'|trans({}, 'FOSUserBundle') }}</label>
            </td>
            <td>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </td>
        </tr>
        
         <tr>
            <td>
                 <label for="password">{{ 'Password:'|trans({}, 'FOSUserBundle') }}</label>
            </td>
            <td>
                <input type="password" id="password" name="_password" />                
            </td>            
        </tr>   
        <tr><td colspan="2" align="center" >
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'Recordar'|trans({}, 'FOSUserBundle') }}</label>
            </td>            
        </tr>
        <tr>
            <td colspan="2" style=" font-size: 12px; font-family: Verdana, Geneva, sans-serif; color: red " >
                {% if error %}
                 {% if error=='Bad credentials' %}
                    <div>NO EXISTE ESE USUARIO</div>
                 {% endif %}
                 {% if error=='The presented password is invalid.' %}
                    <div>PASSWORD EQUIVOCADO VUELVA A DIGITARLO</div>
                 {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2" align='center' >
                <input type="submit" id="_submit" name="_submit" value="{{ 'Ingresar'|trans({}, 'FOSUserBundle') }}" />
            </td>
        </tr>
    </table>
    
</form>

{% endblock fos_user_content %}