{# empty Twig template #}

{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">        
 $(document).ready(function(){
    $('#guardar').button();
    $('#regresar').button();
    $('#regresar').click(function() {
            this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';
     });
     
     $('#guardar').click(function() {
         var suma = 0;
            metaAnual= Number($("input[id='metaAnual']").val());
            
            suma = Number($("input[id='trimUno']").val());
            suma += Number($("input[id='trimDos']").val());
            suma += Number($("input[id='trimTres']").val());
            suma += Number($("input[id='trimCuatro']").val());
            
            if(metaAnual==suma){
             var enviar=0;
               if(Number($("input[id='trimUno']").val())!=0){
                    if($("input[id='datepickerInicioPrimer']").val()=="" | $("input[id='datepickerFinPrimer']").val()==""){
                       alert("Debe de Ingresar la Fecha de Inicio y de Finalizacion del Primer Trimestre de la Programacion\nPara Continuar");
                        evento.preventDefault();
                    }
                    else
                    enviar++;
           
               }else
                   enviar++;
              if(Number($("input[id='trimDos']").val())!=0){
                    if($("input[id='datepickerInicioSegundo']").val()=="" | $("input[id='datepickerFinSegundo']").val()==""){
                       alert("Debe de Ingresar la Fecha de Inicio y de Finalizacion del Segundo Trimestre de la Programacion\nPara Continuar");
                        evento.preventDefault();
                    }
                    else
                    enviar++;
           
               }else
                   enviar++;
               if(Number($("input[id='trimTres']").val())!=0){
                    if($("input[id='datepickerInicioTercer']").val()=="" | $("input[id='datepickerFintercer']").val()==""){
                       alert("Debe de Ingresar la Fecha de Inicio y de Finalizacion del Tercer Trimestre de la Programacion\nPara Continuar");
                        evento.preventDefault();
                    }
                    else
                    enviar++;
           
               }else
                   enviar++;
               if(Number($("input[id='trimCuatro']").val())!=0){
                    if($("input[id='datepickerInicioCuarto']").val()=="" | $("input[id='datepickerFinCuarto']").val()==""){
                       alert("Debe de Ingresar la Fecha de Inicio y de Finalizacion del Cuarto Trimestre de la Programacion\nPara Continuar");
                        evento.preventDefault();
                    }
                    else
                    enviar++;
           
               }else
                   enviar++;
              if(enviar==4){
                this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editandoActividades') }}';
              }
            }
            else{
              alert("No coincide la meta anual con lo programado trimestralmente!");
              evento.preventDefault();    
            }
     });
    $('#tabs').tabs();
    $.getJSON('consultarTipoMeta', function(data) {
                  var i=0;
                  $.each(data, function(key, val) {
                      if(key=='rows'){
                        $.each(val, function(id, registro){
                         if('{{tipometa}}'==registro['cell'][0])
                            $('#selectipometa').append('<option selected="selected" value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                         else
                             $('#selectipometa').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                        });                    
                      }
                  });
          });
      //PARA MOSTRAR LA VENTANA DESPLEGABLE DEL LLENADO DE LA FECHA
          $('#dialogPrimer').jqm();
          $('#dialogSegundo').jqm();
          $('#dialogTercer').jqm();
          $('#dialogCuarto').jqm();
          
          $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
                  
          var dateInicio = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          var dateFin = $.datepicker.parseDate("yy-mm-dd", '{{fechaFin}}');

          var finPrimerTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          finPrimerTri.setMonth(finPrimerTri.getMonth()+3);
          
          $( "#datepickerInicioPrimer" ).datepicker({defaultDate:dateInicio , minDate: dateInicio, maxDate: finPrimerTri });
          $( "#datepickerFinPrimer" ).datepicker({ minDate: dateInicio, maxDate: finPrimerTri });
          

          var dateInicioSegundoTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateInicioSegundoTri.setMonth(dateInicio.getMonth()+3);
          
          var dateFinSegundoTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateFinSegundoTri.setMonth(dateInicio.getMonth()+6);
          
          $( "#datepickerInicioSegundo" ).datepicker({ minDate: dateInicioSegundoTri, maxDate: dateFinSegundoTri });
          $( "#datepickerFinSegundo" ).datepicker({ minDate: dateInicioSegundoTri, maxDate: dateFinSegundoTri });
          
          var dateInicioTercerTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateInicioTercerTri.setMonth(dateInicio.getMonth()+6);
          
           var dateFinTercerTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateFinTercerTri.setMonth(dateInicio.getMonth()+9);
          
          
          $( "#datepickerInicioTercer" ).datepicker({ minDate: dateInicioTercerTri, maxDate: dateFinTercerTri });
          $( "#datepickerFinTercer" ).datepicker({ minDate: dateInicioTercerTri, maxDate: dateFinTercerTri });
          
          var dateInicioCuatroTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateInicioCuatroTri.setMonth(dateInicio.getMonth()+9);
          
          $( "#datepickerInicioCuarto" ).datepicker({ minDate: dateInicioCuatroTri, maxDate: dateFin });
          $( "#datepickerFinCuarto" ).datepicker({ minDate: dateInicioCuatroTri, maxDate: dateFin });

          $('#establecerFechaPrimer').click(function() {
            $('#dialogPrimer').jqmShow();              
          });
          
          $('#establecerFechaSegundo').click(function() {
            $('#dialogSegundo').jqmShow();              
          });
          
          
          $('#establecerFechaTercero').click(function() {
            $('#dialogTercer').jqmShow();              
          });
          
          $('#establecerFechaCuarto').click(function() {
            $('#dialogCuarto').jqmShow();              
          });
          $('#establecerFechaPrimer').button();
          $('#establecerFechaSegundo').button();
          $('#establecerFechaTercero').button();
          $('#establecerFechaCuarto').button();
//validando el formulario
 $("#formActividad").validate({
  rules: {
    metaAnual: {
      required: true,
      digits: true
    },
   
   trimUno: {
      required: true,
      digits: true
    },
    
    trimDos: {
      required: true,
      digits: true
    },
    
    trimTres: {
      required: true,
      digits: true
    },
    trimCuatro: {
      required: true,
      digits: true
    }
    
  }
}
);
  //PARA QUE REPARTA LA META ANUAL.
$('#metaAnual').blur(function(event) {
    metaAnual=Number($("input[id='metaAnual']").val());
    $('#trimUno').attr('value',parseInt(metaAnual/4));
    $('#trimDos').attr('value',parseInt(metaAnual/4));
    $('#trimTres').attr('value',parseInt(metaAnual/4));
    $('#trimCuatro').attr('value',metaAnual-(Number($("input[id='trimUno']").val())+Number($("input[id='trimDos']").val())+Number($("input[id='trimTres']").val())));
});


$('#metaAnual').keydown(function(event) {
    // Permitir borrar, suprimir, TAB, comas, izqda, derecha:
    if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 190 || event.keyCode==109 || event.keyCode==37 || event.keyCode==39 || event.keyCode == 188 || event.keyCode == 96 || event.keyCode == 97 || event.keyCode == 98 || event.keyCode == 99 || event.keyCode == 100 || event.keyCode == 101 || event.keyCode == 102 || event.keyCode == 103 || event.keyCode == 104 || event.keyCode == 105) {
    // ...No ocurre nada aqui.
    }
    else {
        // Solo numeros:
        if (event.keyCode < 48 || event.keyCode > 57 ) {
        event.preventDefault();
        }
    }
});
   
 $('#trimUno').keydown(function(event) {
// Permitir borrar, suprimir, TAB, comas, izqda, derecha:
    if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 190 || event.keyCode==109 || event.keyCode==37 || event.keyCode==39 || event.keyCode == 188 || event.keyCode == 96 || event.keyCode == 97 || event.keyCode == 98 || event.keyCode == 99 || event.keyCode == 100 || event.keyCode == 101 || event.keyCode == 102 || event.keyCode == 103 || event.keyCode == 104 || event.keyCode == 105) {
    // ...No ocurre nada aqui.
    }
    else {
        // Solo numeros:
        if (event.keyCode < 48 || event.keyCode > 57 ) {
        event.preventDefault();
        }
    }
});
    
$('#trimDos').keydown(function(event) {
// Permitir borrar, suprimir, TAB, comas, izqda, derecha:
    if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 190 || event.keyCode==109 || event.keyCode==37 || event.keyCode==39 || event.keyCode == 188 || event.keyCode == 96 || event.keyCode == 97 || event.keyCode == 98 || event.keyCode == 99 || event.keyCode == 100 || event.keyCode == 101 || event.keyCode == 102 || event.keyCode == 103 || event.keyCode == 104 || event.keyCode == 105) {
    // ...No ocurre nada aqui.
    }
    else {
        // Solo numeros:
        if (event.keyCode < 48 || event.keyCode > 57 ) {
        event.preventDefault();
        }
    }
});
$('#trimTres').keydown(function(event) {
// Permitir borrar, suprimir, TAB, comas, izqda, derecha:
    if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 190 || event.keyCode==109 || event.keyCode==37 || event.keyCode==39 || event.keyCode == 188 || event.keyCode == 96 || event.keyCode == 97 || event.keyCode == 98 || event.keyCode == 99 || event.keyCode == 100 || event.keyCode == 101 || event.keyCode == 102 || event.keyCode == 103 || event.keyCode == 104 || event.keyCode == 105) {
    // ...No ocurre nada aqui.
    }
    else {
        // Solo numeros:
        if (event.keyCode < 48 || event.keyCode > 57 ) {
        event.preventDefault();
        }
    }
});
    
$('#trimCuatro').keydown(function(event) {
// Permitir borrar, suprimir, TAB, comas, izqda, derecha:
    if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 190 || event.keyCode==109 || event.keyCode==37 || event.keyCode==39 || event.keyCode == 188 || event.keyCode == 96 || event.keyCode == 97 || event.keyCode == 98 || event.keyCode == 99 || event.keyCode == 100 || event.keyCode == 101 || event.keyCode == 102 || event.keyCode == 103 || event.keyCode == 104 || event.keyCode == 105) {
    // ...No ocurre nada aqui.
    }
    else {
        // Solo numeros:
        if (event.keyCode < 48 || event.keyCode > 57 ) {
        event.preventDefault();
        }
    }
});
          
});
      
</script>
<style type="text/css">
form.cmxform label.error, label.error {
  /* remove the next line when you have trouble in IE6 with labels in list */
  color: red;
   font-style: italic
}
input.error { border: 1px dotted red; }
textarea.error { border: 1px dotted red; }
</style>    
 <h1 style=" text-align: center">Editar Actividad</h1>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Actividad</a></li>

        </ul>
        <div id="tabs-1" >
             <form id="formActividad" action="" method="post" >
                <table align="center" id="datos"  >

                    <tr>
                        <td >Objetivo:</td>
                        <td><textarea readonly="readonly" rows="4" cols="100" name='objetivo'  size="60%" id='objetivo' >{{descripcion}}</textarea></td>
                    </tr>
                    <tr>
                        <td >Resultado Esperado:</td>
                        <td><textarea readonly="readonly" rows="4" cols="100" name= 'resultadoEsperado'  size="60%" id="resultadoEsperado" >{{descripcionResultado}}</textarea></td>
                    </tr>
                    <tr>
                        <td >Actividad(*):</td>
                        <td><input class="required" size="100%" name="actividad" id="actividad" value="{{actividad}}" ></input></td>
                    </tr>
                    <tr>
                        <td >Indicador(*):</td>
                        <td><input class="required"  size="100%" name="indicador" id="indicador" value="{{indicador}}" ></input></td>
                    </tr>

                    <tr>
                        <td >Medio Verificacion(*):</td>
                        <td><input  class="required" size="100%" name="medioverifindicador" id="medioverifindicador" value="{{medioverifi}}" ></input></td>
                    </tr>
                    <tr>
                        <td >Responsables(*):</td>
                        <td><input class="required"  size="100%" name="responsable" id="responsable" value="{{responsable}}"></input></td>
                    </tr>

                    <tr>
                        <td >Supuestos Factores:</td>
                        <td><input size="100%" name="supuestosfactores" id="supuestosfactores" value="{{supuestos}}"  ></input></td>
                    </tr>
                    <tr>
                        <td >Meta anual(*):</td>
                        <td><input class="required"  size="20%" name="metaAnual" id="metaAnual"value="{{metaanual}}" ></input>
                            <select name="selectipometa"  id='selectipometa'><option value=''>Seleccione el tipo de meta</option></select></td>
                    </tr>
                    <tr>
                        <td >Descripcion Meta anual(*):</td>
                        <td><input class="required"  size="100%" name="descripMetaAnual" id="descripMetaAnual" value="{{descmetaanual}}" ></input></td>
                    </tr>
                    <tr>
                        <td >Costo(*): ($)</td>
                        <td><input  class="required"  size="20%"  name="costo" id="costo" value="{{costo}}" ></input></td>
                    </tr>


                    <tr>
                        <td >Fecha Inicio:</td>
                        <td><input size="20%" readonly="readonly" name="fechainicio" value="{{fechaInicio}}" id="fechainicio" ></input>
                        </td>
                    </tr>
                    <tr>
                        <td >Fecha Fin:</td>
                        <td><input size="20%" readonly="readonly"  name="fechafin" value="{{fechaFin}}" id="fechafin" ></input></td>
                    </tr>                     
                </table>
                <table colspan="4"  align="center" id="datos2">
                    <tr>
                        <td colspan="2" >Programado:</td>
                    </tr>                     

                    <tr>
                        <TD WIDTH="25%"align="center">1er Trimestre</TD>
                        <TD WIDTH="25%" align="center">2do trimestre</TD>
                        <TD WIDTH="25%" align="center">3er Trimestre</TD>
                        <TD WIDTH="25%" align="center">4to Trimestre</TD>
                    </tr>
                    <tr>
                        <TD WIDTH="25%"align="center"> <input class="required" size="25%" name="trimUno" id="trimUno" value='{{trim1}}' ><input type="button" id="establecerFechaPrimer"  value="..."/></input></TD>
                        <TD WIDTH="25%"align="center"><input class="required" size="25%" name="trimDos" id="trimDos"  value='{{trim2}}'><input type="button" id="establecerFechaSegundo"  value="..."/></input></TD>
                        <TD WIDTH="25%"align="center"><input class="required" size="25%" name="trimTres" id="trimTres" value='{{trim3}}' ><input type="button" id="establecerFechaTercero"  value="..."/></input></TD>
                        <TD WIDTH="25%"align="center"><input class="required" size="25%" name="trimCuatro" id="trimCuatro" value='{{trim4}}' ><input type="button" id="establecerFechaCuarto"  value="..."/></input></TD>
                    </tr>   
                    <tr>  
                        <td colspan="4" align="center" >
                            <input type='hidden' name='idfila' id="idfila" value='{{idfila}}' /> 
                            <input type='hidden' name='idfilaResultado' id="idfilaResultado" value='{{idfilaResultado}}' /> 
                            <input type='hidden' name='idfilaActividad' id="idfilaActividad" value='{{idfilaActividad}}' /> 
                            <input type='hidden' name='iduno' id="iduno" value='{{iduno}}' />  
                            <input type='hidden' name='iddos' id="iddos" value='{{iddos}}' /> 
                            <input type='hidden' name='idtres' id="idtres" value='{{idtres}}' /> 
                            <input type='hidden' name='idcuatro' id="idcuatro" value='{{idcuatro}}' />
                            {%if objUniControl is defined %}
                                <input type='hidden' name='objUniControl' id="objUniControl" value='{{objUniControl}}' /> 
                            {%endif%}
                            <button type="submmit" id="guardar"  >Guardar</button>
                            <button type="submmit" name="regresar" id="regresar"  >Regresar</button>
                        </td> 
                    </tr>                  
                    <tr>
                        <td align="left"><br>Campos marcados con (*) son Obligatorios</td>
                    </tr>
                </table>
                <!--DESDE AQUI SE DEFINEN LAS VENTANAS EMERGENRES PARA LAS FECHAS-->
                <div class="jqmWindow" style="width: 400px; top: 45%; left:40%" id="dialogPrimer">
                    <a href="#" class="jqmClose">Cerrar</a>
                    <hr>
                    <p>Primer Trimestre </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Fecha Inicio: <input id="datepickerInicioPrimer"  name="datepickerInicioPrimer"  type="text" value="{% if fechainiciotrimuno is not null %}{{fechainiciotrimuno|date('Y-m-d')}}{%else%}  {%endif%}"></input></p> 
                                </td>  
                                <td>
                                    <p>Fecha Fin: <input id="datepickerFinPrimer" name="datepickerFinPrimer" type="text" value="{% if fechafintrimuno is not null %}{{fechafintrimuno|date('Y-m-d')}}{%else%}  {%endif%}"></input></p>
                                </td>                            
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="jqmWindow" style="width: 400px; top: 45%; left:60%" id="dialogSegundo">
                    <a href="#" class="jqmClose">Cerrar</a>
                    <hr>
                    <p>Segundo Trimestre </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Fecha Inicio: <input id="datepickerInicioSegundo" name="datepickerInicioSegundo" type="text"value="{% if fechainiciotrimdos is not null %}{{fechainiciotrimdos|date('Y-m-d')}}{%else%}  {%endif%}"></input></p> 
                                </td>  
                                <td>
                                    <p>Fecha Fin: <input id="datepickerFinSegundo" name="datepickerFinSegundo" type="text" value="{% if fechafintrimdos is not null %}{{fechafintrimdos|date('Y-m-d')}}{%else%}  {%endif%}"></input></p>
                                </td>                            
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="jqmWindow" style="width: 400px; top: 45%; left:80%" id="dialogTercer">
                    <a href="#" class="jqmClose">Cerrar</a>
                    <hr>
                    <p>Tercer Trimestre </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Fecha Inicio: <input id="datepickerInicioTercer" name="datepickerInicioTercer" type="text"value="{% if fechainiciotrimtres is not null %}{{fechainiciotrimtres|date('Y-m-d')}}{%else%}  {%endif%}"></input></p> 
                                </td>  
                                <td>
                                    <p>Fecha Fin: <input id="datepickerFinTercer"  name="datepickerFinTercer" type="text" value="{% if fechafintrimtres is not null %}{{fechafintrimtres|date('Y-m-d')}}{%else%}  {%endif%}"></input></p>
                                </td>                            
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="jqmWindow" style="width: 400px; top: 45%; left:90%" id="dialogCuarto">
                    <a href="#" class="jqmClose">Cerrar</a>
                    <hr>
                    <p>Cuarto Trimestre </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Fecha Inicio: <input id="datepickerInicioCuarto" name="datepickerInicioCuarto" type="text" value="{% if fechainiciotrimcuatro is not null %}{{fechainiciotrimcuatro|date('Y-m-d')}}{%else%}  {%endif%}"></input></p> 
                                </td>  
                                <td>
                                    <p>Fecha Fin: <input id="datepickerFinCuarto" name="datepickerFinCuarto"  type="text" value="{% if fechafintrimcuatro is not null %}{{fechafintrimcuatro|date('Y-m-d')}}{%else%}  {%endif%}"></input></p>
                                </td>                            
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--FIN DE VENTANAS EMERGENTES-->
            </form>            
        </div>

    </div>


{% endblock %}{# empty Twig template #}



