{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">        
      $(document).ready(function(){
          
          $('#dialogPrimer').jqm();
          $('#dialogSegundo').jqm();
          $('#dialogTercer').jqm();
          $('#dialogCuarto').jqm();
          
          $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
                  
          var dateInicio = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          var dateFin = $.datepicker.parseDate("yy-mm-dd", '{{fechaFin}}');

          var finPrimerTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          finPrimerTri.setMonth(finPrimerTri.getMonth()+3);
          
          $( "#datepickerInicioPrimer" ).datepicker({defaultDate:dateInicio , minDate: dateInicio, maxDate: finPrimerTri });
          $( "#datepickerFinPrimer" ).datepicker({ minDate: dateInicio, maxDate: finPrimerTri });
          

          var dateInicioSegundoTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateInicioSegundoTri.setMonth(dateInicio.getMonth()+3);
          
          var dateFinSegundoTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateFinSegundoTri.setMonth(dateInicio.getMonth()+6);
          
          $( "#datepickerInicioSegundo" ).datepicker({ minDate: dateInicioSegundoTri, maxDate: dateFinSegundoTri });
          $( "#datepickerFinSegundo" ).datepicker({ minDate: dateInicioSegundoTri, maxDate: dateFinSegundoTri });
          
          var dateInicioTercerTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateInicioTercerTri.setMonth(dateInicio.getMonth()+6);
          
           var dateFinTercerTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateFinTercerTri.setMonth(dateInicio.getMonth()+9);
          
          
          $( "#datepickerInicioTercer" ).datepicker({ minDate: dateInicioTercerTri, maxDate: dateFinTercerTri });
          $( "#datepickerFinTercer" ).datepicker({ minDate: dateInicioTercerTri, maxDate: dateFinTercerTri });
          
          var dateInicioCuatroTri = $.datepicker.parseDate("yy-mm-dd", '{{fechaInicio}}');
          dateInicioCuatroTri.setMonth(dateInicio.getMonth()+9);
          
          $( "#datepickerInicioCuarto" ).datepicker({ minDate: dateInicioCuatroTri, maxDate: dateFin });
          $( "#datepickerFinCuarto" ).datepicker({ minDate: dateInicioCuatroTri, maxDate: dateFin });
          
          $('#regresar').click(function() {
            this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarActividades') }}';
           
          });
           
           $('#agregar').click(function() {
            this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_guardarActividades') }}';
             
          });
          
          $('#establecerFechaPrimer').click(function() {
            $('#dialogPrimer').jqmShow();              
          });
          
          $('#establecerFechaSegundo').click(function() {
            $('#dialogSegundo').jqmShow();              
          });
          
          
          $('#establecerFechaTercero').click(function() {
            $('#dialogTercer').jqmShow();              
          });
          
          $('#establecerFechaCuarto').click(function() {
            $('#dialogCuarto').jqmShow();              
          });
          
          
          
          $('#tabs').tabs();
      //jAlert('This is a custom alert box', 'Alert Dialog');
         $.getJSON('consultarTipoMeta', function(data) {
                  var i=0;
                  $.each(data, function(key, val) {
                      if(key=='rows'){
                        $.each(val, function(id, registro){
                            $('#selectipometa').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
                        });                    
                      }
                  });
          });
    

});
      
    </script>
    <h2 class="demoHeaders">Ingreso de Actividades</h2>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Nueva Actividad</a></li>

        </ul>
        <form action="" method="post" >
            <div id="tabs-1" >

                <table align="center" id="datos"  >

                    <tr>
                        <td >Objetivo:</td>
                        <td colspan="3" ><textarea readonly="readonly" rows="4" cols="100" name= 'objetivo'  size="60%" id='objetivo' >{{descripcion}}</textarea></td>
                    </tr>
                    <tr>
                        <td >Resultado Esperado:</td>
                        <td colspan="3" ><textarea readonly="readonly" rows="4" cols="100" name= 'resultadoEsperado'  size="60%" id="resultadoEsperado" >{{descripcionResultado}}</textarea></td>
                    </tr>
                    <tr>
                        <td >Actividad:</td>
                        <td colspan="3" ><input size="100%" name="actividad" id="actividad" ></input></td>
                    </tr>
                    <tr>
                        <td >Indicador:</td>
                        <td colspan="3" ><input size="100%" name="indicador" id="indicador" ></input></td>
                    </tr>

                    <tr>
                        <td >Medio Verificacion:</td>
                        <td colspan="3" ><input size="100%" name="medioverifindicador" id="medioverifindicador" ></input></td>
                    </tr>
                    <tr>
                        <td >Responsables:</td>
                        <td colspan="3" ><input size="100%" name="responsable" id="responsable" ></input></td>
                    </tr>

                    <tr>
                        <td >Supuestos Factores:</td>
                        <td colspan="3" ><input size="100%" name="supuestosfactores" id="supuestosfactores" ></input></td>
                    </tr>
                    <tr>
                        <td >Meta anual:</td>
                        <td colspan="3" ><input size="20%" name="metaAnual" id="metaAnual" ></input><select name="selectipometa"  id='selectipometa'></select></td>
                    </tr>
                    <tr>
                        <td >Descripcion Meta anual:</td>
                        <td colspan="3" ><input size="100%" name="descripMetaAnual" id="descripMetaAnual" ></input></td>
                    </tr>
                    <tr>
                        <td >Costo: ($)</td>
                        <td colspan="3" ><input size="20%"  name="costo" id="costo" ></input></td>
                    </tr>


                    <tr>
                        <td >Fecha Inicio:</td>
                        <td colspan="3" ><input size="20%" readonly="readonly" name="fechainicio" value="{{fechaInicio}}" id="fechainicio" ></input>
                        </td>
                    </tr>
                    <tr>
                        <td >Fecha Fin:</td>
                        <td colspan="3" ><input size="20%" readonly="readonly"  name="fechafin" value="{{fechaFin}}" id="fechafin" ></input></td>
                    </tr>



                    <tr>
                        <td>Programado:</td>
                    </tr>


                    <tr>
                        <TD WIDTH="25%"align="center">1er Trimestre</TD>
                        <TD WIDTH="25%" align="center">2do trimestre</TD>
                        <TD WIDTH="25%" align="center">3er Trimestre</TD>
                        <TD WIDTH="25%" align="center">4to Trimestre</TD>
                    </tr>
                    <tr>
                        <TD WIDTH="25%"align="center"> <input size="25%" name="trimUno" id="trimUno" ><input type="button" id="establecerFechaPrimer"  value="..."/></input></TD>
                        <TD WIDTH="25%"align="center"><input size="25%" name="trimDos" id="trimDos" ><input type="button" id="establecerFechaSegundo"  value="..."/></input></TD>
                        <TD WIDTH="25%"align="center"><input size="25%" name="trimTres" id="trimTres" ><input type="button" id="establecerFechaTercero"  value="..."/></input></TD>
                        <TD WIDTH="25%"align="center"><input size="25%" name="trimCuatro" id="trimCuatro" ><input type="button" id="establecerFechaCuarto"  value="..."/></input></TD>
                    </tr>   


                    <tr>  
                    <input type='hidden' name='idfila' id="idfila" value='{{idfila}}' /> 
                    <input type='hidden' name='idfilaResultado' id="idfilaResultado" value='{{idfilaResultado}}' /> 
                    <td colspan="4" align="center" >
                        <button type="submmit" id="agregar"  >Guardar</button>
                        <button type="reset"  >Limpiar</button>
                        <button type="submmit" name ="regresar" id="regresar"  >Regresar</button>
                    </td> 
                    </tr>                    
                </table>                       
            </div>
            <div class="jqmWindow" style="width: 400px; top: 45%; left:40%" id="dialogPrimer">
                <a href="#" class="jqmClose">Cerrar</a>
                <hr>
                <p>Primer Trimestre </p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>Fecha Inicio: <input id="datepickerInicioPrimer"  name="datepickerInicioPrimer"  type="text"></input></p> 
                            </td>  
                            <td>
                                <p>Fecha Fin: <input id="datepickerFinPrimer" name="datepickerFinPrimer" type="text"></input></p>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="jqmWindow" style="width: 400px; top: 45%; left:60%" id="dialogSegundo">
                <a href="#" class="jqmClose">Cerrar</a>
                <hr>
                <p>Segundo Trimestre </p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>Fecha Inicio: <input id="datepickerInicioSegundo" name="datepickerInicioSegundo" type="text"></input></p> 
                            </td>  
                            <td>
                                <p>Fecha Fin: <input id="datepickerFinSegundo" name="datepickerFinSegundo" type="text"></input></p>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="jqmWindow" style="width: 400px; top: 45%; left:80%" id="dialogTercer">
                <a href="#" class="jqmClose">Cerrar</a>
                <hr>
                <p>Tercer Trimestre </p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>Fecha Inicio: <input id="datepickerInicioTercer" name="datepickerInicioTercer" type="text"></input></p> 
                            </td>  
                            <td>
                                <p>Fecha Fin: <input id="datepickerFinTercer"  name="datepickerFinTercer" type="text"></input></p>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="jqmWindow" style="width: 400px; top: 45%; left:90%" id="dialogCuarto">
                <a href="#" class="jqmClose">Cerrar</a>
                <hr>
                <p>Cuarto Trimestre </p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p>Fecha Inicio: <input id="datepickerInicioCuarto" name="datepickerInicioCuarto" type="text"></input></p> 
                            </td>  
                            <td>
                                <p>Fecha Fin: <input id="datepickerFinCuarto" name="datepickerFinCuarto"  type="text"></input></p>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>


{% endblock %}



