{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    $('#agregar').click(function() {
            this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_ingresoActividades') }}';
    });
});
      </script>
   <form id = "formulario"  action="" method="post">
        <table align="center">
            <tr>
                <td align="center" colspan="2" >
                    <h1>Gestion de Actividades</h1>
                </td>
            </tr>
            <td align="center" colspan="2" >
              <strong>
                 {% if objUniControl !='false' %}
                     <a  style="font-size: 12px"  href="{{ path('MinSalSidPlaGesObjEspEntControlBundle_consultarObjetivosEspecificos') }}">Objetivos>></a>
                     <a  style="font-size: 12px"  href="{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados') }}?idfila={{idfila}}&objUniControl={{objUniControl}}">Resultados Esperados>></a>
                 {% else %}
                    <a  style="font-size: 12px"  href="{{ path('MinSalSidPlaGesObjEspBundle_consultarObjetivosEspecificos') }}">Objetivos>></a>
                    <a  style="font-size: 12px"  href="{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados') }}?idfila={{idfila}}">Resultados Esperados>></a>
                 {% endif %}                                     
               </strong>
            </td>
            <tr>
                <td>
                   Objetivo:
                </td>
               <td>
               <textarea readonly="readonly" rows="4" cols="100" name= 'objetivo' id='objetivo' >{{descripcion}}</textarea>
               </td>
           </tr>
           <tr>
               <td>Resultado Esperado:</td>    
                <td>
                    <textarea readonly="readonly" rows="4" cols="100" name= 'resultado' id='resultado' >{{descripcionResultado}}</textarea>
                </td>
           </tr>
           <tr>
                <td align="center" class="tdBotonesIconos" colspan="2">
                   <input width="60" height="60" type="image" src="{{ asset('/images/iconos/agregar.png')}}" name="agregar" id="agregar" />
                   <br/>Agregar Actividad
                </td>
            </tr>
            <tr>
               <td align="center" colspan="2" >
                <br></br>                
                {% include 'MinSalSidPlaGesObjEspBundle:GestionActividades:showAllActividades.html.twig'  with {'idfila': idfila} %} 
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>
    
    
{% endblock %}
