{# Muestra todos las opciones #}
{% block body %}
    <input type='hidden' name='idfila' id="idfila" value='{{idfila}}' /> 
    <input type='hidden' name='idfilaResultado' id="idfilaResultado" value='{{idfilaResultado}}' /> 
    <input type='hidden' name='idfilaActividad' id="idfilaActividad" value='' /> 
    <table border="1" WIDTH='85%'>
        <thead>
            <tr  style=" font-size: 14px;">
                <th><strong> Actividades </strong>
                </th>
                <th><strong>  Acciones </strong>
                </th>
            </tr>
        </thead>
        <tbody>
    {% if actividades is defined %}   
        {% for  actividad in  actividades%}
                <tr>
                    <td style=" font-size: 12px;">{{actividad.getActDescripcion}}
                    </td>
                    <td class="tdBotonesIconos" WIDTH='60' >
                        <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" value="Editar" onclick="$('#idfilaActividad').attr('value',{{actividad.getIdAct}});this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_editarActividad') }}';" />
                        <br/>Editar
                    </td>
                </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>


        <div id="grid_wrapper" class="ui-corner-all floatLeft">
            <table id="theGridObj" class="scroll" ></table> 
            <div id="pagerObj"  class="scroll" style="text-align:center;"></div> 
        </div>


{% endblock %}








