{# empty Twig template #}

{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">        
$(document).ready(function(){
    $('#regresar').click(function() {
             
                       this.form.action='{{ path('MinSalSidPlaGesObjEspEntControlBundle_consultarResultadosEsperadosTemplate') }}';                    
     });
    $('#guardar').click(function(evento) {
        this.form.action='{{ path('MinSalSidPlaGesObjEspEntControlBundle_guardarResultadosEsperadosTemplate') }}';
    });
    $('#tabs').tabs();
    $("#formulario").validate();
  
});
      
</script>
  <style type="text/css">



form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
            
}
input.error { border: 1px dotted red; }
textarea.error { border: 1px dotted red; }
      </style>   
<h2 class="demoHeaders">Ingreso de Resultados Esperados Para SIBASI y Regiones de Salud</h2>
<div id="tabs">
        <ul>
                <li><a href="#tabs-1">Nuevo Resultado</a></li>
                
        </ul>
        <div id="tabs-1" >
            <form id="formulario" action="{{ path('MinSalSidPlaGesObjEspBundle_guardarResultadosEsperados')}}" method="post" >
                <table colspan="4"  align="center" id="datos"  >
                    <tr>
                        <td colspan="2" align="center" >Datos de Resultado Esperado Para SIBASI y Regiones de Salud <br><br></td>
                    </tr>
                    
                    <tr>
                        <td align="left">Objetivo:</td>
                        <td align="left" ><textarea rows="4"  cols="80" name= 'objetivo'  size="60%" id='objetivo' readonly="readonly" >{{descripcion}}</textarea></td>
                    </tr>
                    <tr>
                        <td >Resultado Esperado(*):</td>
                        <td  ><textarea class="required" rows="4" cols="83" name= 'resultadoEsperado'  size="83%" id="resultadoEsperado" ></textarea></td>
                    </tr>
                    <tr>
                        <td >Indicador:</td>
                        <td  ><input size="90%" name="Indicador" id="Indicador" ></input></td>
                    </tr>
                    <tr>  
                           <input type='hidden' name='idfila' id="idfila" value='{{idfila}}' /> 
                           
                    <td colspan="3" align="center" >
                            <button type="submmit" id="guardar"  >Guardar</button>
                            <button type="reset"  >Limpiar</button>
                            <button type="submmit" class="cancel"  id="regresar"  >Regresar</button>
                        </td>
                    </tr>                    
                <tr>
                        <td align="left"><br>Campos marcados con (*) son Obligatorios</td>
                        </tr>
                      
                      </table>
            </form>            
        </div>
      
</div>


{% endblock %}{# empty Twig template #}



