{# Muestra todos las opciones #}
{% block body %}

<input type='hidden' name='idfila' id="idfila" value='{{idfila}}' />  
<input type='hidden' name='idfilaResultado' id="idfilaResultado" value='' /> 
<table WIDTH='85%' class="tablaPlantilla">
    <thead>
        <tr  style=" font-size: 14px;">
            <th class="thEncabezadoPlantilla"><strong>  Cod </strong></th>
            <th class="thEncabezadoPlantilla"><strong>  Resultados Esperados </strong>
            </th>
           <th class="thEncabezadoPlantilla"><strong>  Acciones </strong>
            </th>
        </tr>
    </thead>
    <tbody>
 {% if resultadosEsperados is defined %}
     {%for resultado in resultadosEsperados%}
            <tr>
                <td class="tdCuerpoPlantilla">{%if resultado.getResEspTemplNomencla is null%}<strong> En Asignación </strong>{%else%}{{ resultado.getResEspTemplNomencla}}{%endif%}</td>
                <td class="tdCuerpoPlantilla">{{ resultado.getResEspTemplDescripcion}}</td>
                <td class="tdBotonesIconos" WIDTH='60' >
                    <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}"  id="editar" onclick="$('#idfilaResultado').attr('value',{{resultado.getIdResEspTempl}});this.form.action='{{ path('MinSalSidPlaGesObjEspEntControlBundle_editarResultadosEsperadosTemplate') }}';" />
                    <br/>Editar
                </td>
      {%endfor%}
        </tbody>
    </table>
{% endif %}


{% endblock %}








