{# Muestra todos las opciones #}
{% block body %}
    <script type="text/javascript">
      $(document).ready(function(){

        var myGrid = $('#theGrid');        
        myGrid.jqGrid({    
          
          datatype:'clientSide',
          altRows:true,          
          colNames:['Nombre', 'Descripcion', 'Enlace', 'Opcion Padre'],
          colModel:[            
            { name:'nombre', index: 'nombre', width:150,editable:true,editoptions:{size:40}  },
            { name:'descripcion', index: 'descripcion', width:300,editable:true,editoptions:{size:70}  },
            { name:'enlace', index: 'enlace', width:300,editable:true,editoptions:{size:70}  } ,
            { name:'opcpadre', index: 'opcpadre', width:50,editable:true,editoptions:{size:40}  } ],
          rowNum:10,
          rowList:[10,20,30],
          multiselect: true,
          pager: jQuery('#pager'),
          viewrecords: true,          
          caption: 'Opciones del sistema',
          height: "100%",
          editCaption: "Editar Registro",
          addCaption: "Nuevo Registro",
          editurl:'manttOpcEdicion'         
            
        });
        myGrid.jqGrid('navGrid','#pager',
        {edit:true,add:true,del:true},
        {width:550,height:160, afterSubmit: fn_editSubmit, closeOnEscape: true },
        {width:550,height:160 },
        {},
        {multipleSearch:true, multipleGroup:true}
        );

        {% for opc in opciones %}
            myGrid.addRowData("{{ opc.idOpcionSistema }}", {nombre:"{{ opc.nombreOpcion }}", descripcion:"{{ opc.descripcionOpcion }}", enlace:"{{ opc.enlace }}", opcpadre:"{{ opc.idOpcionSistema2 }}"});     
        {% endfor %}
            
       
      });
      
       //define handler for 'editSubmit' event
    var fn_editSubmit=function(response,postdata){
     var json=response.responseText; //in my case response text form server is "{sc:true,msg:''}"
     var result=eval("("+json+")"); //create js object from server reponse
     return [result.sc,result.msg,null]; 
    }  

    
   
    
    </script>
      <div id="grid_wrapper" class="ui-corner-all floatLeft">
        <table id="theGrid" class="scroll" ></table> 
        <div id="pager"  class="scroll" style="text-align:center;"></div> 
      </div>
    
      <!--<div id="info_wrapper">
        <div class="ui-widget">
          <div class="ui-state-highlight ui-corner-all" style="padding: 0 0.7em; margin: 20px 0 0 20px;">
            <p>
              <span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
              <strong>resize</strong> your browser window &amp; the grid will resize accordingly.
            </p>
          </div>
        </div>
      </div>-->
    
{% endblock %}
