<table border="1" WIDTH='85%'>
    <thead>
        <tr  style=" font-size: 14px;">
            <th><strong>  Resultado Esperado </strong>
            </th>
            <th colspan="2"><strong>  Acciones </strong>
            </th>
        </tr>
    </thead>
    <tbody>
{% if resultadosUnisal is defined %}   
    {% for  resultado in  resultadosUnisal%}
    <tr>
        <td style=" font-size: 12px;">{{ resultado.getDescResEspUni}}
        </td>
         <td class="tdBotonesIconos" WIDTH='60' >
            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" onclick="$('#idResEsp').attr('value',{{resultado.getCodResEspUni}});this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_editarResEspeUnisal')}}';" />
         <br/>Editar
         </td>
         <td class="tdBotonesIconos" WIDTH='60' >
            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idResEsp').attr('value',{{resultado.getCodResEspUni}});this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_mostrarActUnisalTemplate')}}';" />
            <br/>Actividades
        </td>
    </tr>
    {% endfor %}
 {% endif %}
    </tbody>
</table>