<table WIDTH='85%' class="tablaPlantilla">
    <thead>
        <tr  style=" font-size: 14px;">
            <th class="thEncabezadoPlantilla"><strong>  Cod </strong>
                    </th>
            <th class="thEncabezadoPlantilla"><strong>  Resultado Esperado </strong>
            </th>
            <th colspan="2" class="thEncabezadoPlantilla"><strong>  Acciones </strong>
            </th>
        </tr>
    </thead>
    <tbody>
{% if resultadosUnisal is defined %}   
    {% for  resultado in  resultadosUnisal%}
    <tr>
        <td class="tdCuerpoPlantilla">{%if resultado.nomenResEspUni is null%}<strong> En Asignación </strong>{%else%}{{ resultado.nomenResEspUni}}{%endif%}
                        </td>
        <td class="tdCuerpoPlantilla">{{ resultado.getDescResEspUni}}
        </td>
         <td class="tdBotonesIconos" WIDTH='60' >
            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" onclick="$('#idResEsp').attr('value',{{resultado.getCodResEspUni}});this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_editarResEspeUnisal')}}';" />
         <br/>Editar
         </td>
         <td class="tdBotonesIconos" WIDTH='60' >
            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" onclick="$('#idResEsp').attr('value',{{resultado.getCodResEspUni}});this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_mostrarActUnisalTemplate')}}';" />
            <br/>Actividades
        </td>
    </tr>
    {% endfor %}
 {% endif %}
    </tbody>
</table>