<!DOCTYPE html>
<HTML>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>{% block titulo %}Sistema para la Planificaci&oacute;n Anual Operativa{% endblock %}</title>

        {% block stylesheets %}
        <link href="{{ asset('/css/redmond/jquery-ui-1.8.16.custom.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/css/ui.jqgrid.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/css/estiloPrincipalMenu.css') }}" type="text/css" rel="stylesheet" />           
        <link href="{{ asset('/css/elementosSidPla.css') }}" type="text/css" rel="stylesheet" />           
        <link href="{{ asset('/css/jqModal.css') }}" type="text/css" rel="stylesheet" />           
        <link href="{{ asset('/menuSidPla/pro_drop_1.css') }}" type="text/css" rel="stylesheet" /> 
       
        {% endblock %}


        </head>
        <body>   
    {% block javascripts %}            
                <script type="text/javascript" src="{{ asset('/js/jquery-1.6.2.min.js') }}" ></script>
                <script type="text/javascript" src="{{ asset('/js/jquery-ui-1.8.16.custom.min.js') }}"></script>
                <script src="{{ asset('/js/i18n/grid.locale-es.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/js/jquery.jqGrid.min.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/js/jqModal.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/js/jquery.calculation.min.js') }}" type="text/javascript"></script>                
                <script src="{{ asset('/js/jquery.combobox.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/menuSidPla/stuHover.js') }}" type="text/javascript"></script>                  
                 <script src="{{ asset('/js/jquery.validate.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/jquery.maskedinput.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/jquery.ui.datepicker-es.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/highcharts/highcharts.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/jquery.keyfilter.js') }}" type="text/javascript"></script>
                
    {% endblock %}                 
                <script type="text/javascript">
                      $(document).ready(function(){
                         {% set nivel = 1 %} 
                         $(function crearMenu() {
                             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 
                                 {% if opciones is defined %}                                     
                                     {% if nivel < 3  %}                                    
                                        {% for opc in opciones %}
                                            {% if opc.idOpcionSistema2 is empty %}
                                                {%if(opc.nombreOpcion == 'Inicio') %}                                                    
                                                    $('#nav').append('<li id="li{{ opc.idOpcionSistema }}" class="top"><a  class="top_link" href="{{ path(opc.enlace) }}"><span >{{ opc.nombreOpcion }}</span></a></li>');                                        
                                                {% else %}
                                                    $('#nav').append('<li id="li{{ opc.idOpcionSistema }}" class="top"><a  class="top_link" href="{{ path(opc.enlace) }}"><span class="down">{{ opc.nombreOpcion }}</span></a></li>');                                        
                                                    $('#li{{ opc.idOpcionSistema }}').append('<ul id="opc{{ opc.idOpcionSistema }}" class="sub"></ul>');  
                                                {% endif %}                                                                                                     
                                                {% for subopc in opciones %}  
                                                    {% if subopc.idOpcionSistema2 == opc.idOpcionSistema  %}
                                                        $('#opc{{opc.idOpcionSistema}}').append('<li> <a href="{{ path(subopc.enlace) }}">{{ subopc.nombreOpcion }}</a></li>');
                                                        {% set nivel = 3 %}
                                                        //crearMenu();
                                                    {% endif %}                                
                                                {% endfor %}                                                                                           
                                            {% endif %}                                
                                        {% endfor %}
                                     {% else %}        
                                            $('#nav').append('<li class="top"><a  class="top_link" href="{{ path('fos_user_security_logout') }}"><span >{{ 'Salir'|trans({}, 'FOSUserBundle') }} </span></a></li>');                                           
                                     {% endif %}  
                                 {% endif %}  
                                 $('#nav').append('<li class="top"><a  class="top_link" href="{{ path('fos_user_security_logout') }}"><span >{{ 'Salir'|trans({}, 'FOSUserBundle') }}</span></a></li>');                                
                                 <!--$('#nav').append('<li class="top"><a  class="top_link" href="{{ path('fos_user_profile_show') }}"><span >{{ 'Perfil'|trans({}, 'FOSUserBundle') }}</span></a></li>');-->
                             {% else %}                                 
                                 $('#nav').append("<li  class='top'><a  class='top_link' href='{{path('fos_user_security_login')}}'><span>{{ 'Iniciar'|trans({}, 'FOSUserBundle') }}</span></a></li>");
                                 $('#nav').append("<li class='top'><a  class='top_link' href='{{path('fos_user_registration_register')}}'><span >{{ 'Registrarse'|trans({}, 'FOSUserBundle') }}</span></a></li>");                                 
                             {% endif %} 
                             <!--$('#nav').append('<li class="top"><a  class="top_link" href="#"><span >MinSal</span></a></li>');-->
                             <!--$('#nav').append('<li class="top"><a  class="top_link" href="#"><span >Acerca de</span></a></li>');-->
                          });
                      });
                </script>
                    <div class="container">
                        <div id="header">
                             <span class="preload1"></span>
                            <span class="preload2"></span>                            
                            <img align="center" src="{{ asset('/images/logo_sidpla.png') }}" height="115px" alt="" />
                            <br/>
                            <ul id="nav"></ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <h3 align="right">Bienvenid@ {{ app.user.empleado.primerNombre }}&nbsp;{{ app.user.empleado.primerApellido }}!!</h3>                            
                                <h3 align="right">{{ app.user.empleado.unidadOrganizativa.nombreUnidad }}</h3>                         
                            {% endif %}    
                        </div>
                        
                            <div id="contenido">
                                
                             
                             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}              
                                {% block body %}                                    
                                    {% if opciones is not defined %}
                                    <h2>Contacte al Administrador del Sistema para que le asigne un rol y asi podra ingresar al sistema correctamente</h2>
                                    {% endif %}
                                    <table>
                                        <tr>
                                            <td align="center">                                                
                                                <br>                                               
                                                <img align="center" src="{{ asset('/images/sidpla1.png') }}" alt="descripción" height="100px" />                                    
                                               
                                            </td>
                                            <td>
                                                <img align="right" src="{{ asset('/images/planificacion.png') }}" alt="descripción"  />                                    
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >
                                                <h3>“El Plan, lejos de ser un requisito jurídico legal, es
                                                 una herramienta para cuantificar los productos y
                                                        efectos reales que como gobierno generamos en la
                                                        sociedad a partir de la ejecución de nuestra
                                                        política y reforma de salud”.  </h3>                                                      
                                                <h4>Adaptado de la Guía metodológica aplicada para la formulación de indicadores y el seguimiento a metas de gobierno en el municipio de Tocancipá, Cundinamarca, Colombia.</h4>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                {% endblock %} 
                             {% else %}
                                {% block login %}
                                {% endblock %}                                                                  
                             {% endif %}  
                            </div>
                                <div id="pie">Copyright (C) 2011 Universidad de El Salvador,  (C) 2011 Ministerio de Salud</div>

                            </div>
                        </body>
                    </HTML>
