{# SIDPLA - MINSAL
   Copyright (C) 2011  Bruno González   e-mail: bagonzalez.sv EN gmail.com
   Copyright (C) 2011  Universidad de El Salvador

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<!DOCTYPE html>
<HTML>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>{% block titulo %}Sistema para la Planificaci&oacute;n Anual Operativa{% endblock %}</title>

        {% block stylesheets %}
        <link href="{{ asset('/css/redmond/jquery-ui-1.8.16.custom.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/css/ui.jqgrid.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/css/estiloPrincipalMenu.css') }}" type="text/css" rel="stylesheet" />           
        <link href="{{ asset('/css/elementosSidPla.css') }}" type="text/css" rel="stylesheet" />           
        <link href="{{ asset('/css/jqModal.css') }}" type="text/css" rel="stylesheet" />           
        <link href="{{ asset('/menuSidPla/pro_drop_1.css') }}" type="text/css" rel="stylesheet" /> 
       
        {% endblock %}


        </head>
        <body>   
    {% block javascripts %}            
                <script type="text/javascript" src="{{ asset('/js/jquery-1.6.2.min.js') }}" ></script>
                <script type="text/javascript" src="{{ asset('/js/jquery-ui-1.8.16.custom.min.js') }}"></script>
                <script src="{{ asset('/js/i18n/grid.locale-es.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/js/jquery.jqGrid.min.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/js/jqModal.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/js/jquery.calculation.min.js') }}" type="text/javascript"></script>                
                <script src="{{ asset('/js/jquery.combobox.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/menuSidPla/stuHover.js') }}" type="text/javascript"></script> 
                 <script src="{{ asset('/js/jquery.validate.min.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/jquery.validate.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/jquery.maskedinput.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/jquery.ui.datepicker-es.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/highcharts/highcharts.js') }}" type="text/javascript"></script>
                 <script src="{{ asset('/js/jquery.keyfilter.js') }}" type="text/javascript"></script>
                
    {% endblock %}                 
                <script type="text/javascript">
                      $(document).ready(function(){
                         {% set nivel = 1 %} 
                         $(function crearMenu() {
                             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 
                                 {% if opciones is defined %}                                     
                                     {% if nivel < 3  %}                                    
                                        {% for opc in opciones %}
                                            {% if opc.idOpcionSistema2 is empty %}
                                                {%if(opc.nombreOpcion == 'Inicio') %}                                                    
                                                    $('#nav').append('<li id="li{{ opc.idOpcionSistema }}" class="top"><a  class="top_link" href="{{ path(opc.enlace) }}"><span >{{ opc.nombreOpcion }}</span></a></li>');                                        
                                                {% else %}
                                                    $('#nav').append('<li id="li{{ opc.idOpcionSistema }}" class="top"><a  class="top_link" href="{{ path(opc.enlace) }}"><span class="down">{{ opc.nombreOpcion }}</span></a></li>');                                        
                                                    $('#li{{ opc.idOpcionSistema }}').append('<ul id="opc{{ opc.idOpcionSistema }}" class="sub"></ul>');  
                                                {% endif %}                                                                                                     
                                                {% for subopc in opciones %}  
                                                    {% if subopc.idOpcionSistema2 == opc.idOpcionSistema  %}
                                                        $('#opc{{opc.idOpcionSistema}}').append('<li> <a href="{{ path(subopc.enlace) }}">{{ subopc.nombreOpcion }}</a></li>');
                                                        {% set nivel = 3 %}
                                                        //crearMenu();
                                                    {% endif %}                                
                                                {% endfor %}                                                                                           
                                            {% endif %}                                
                                        {% endfor %}
                                     {% else %}        
                                            $('#nav').append('<li class="top"><a  class="top_link" href="{{ path('fos_user_security_logout') }}"><span >{{ 'Salir'|trans({}, 'FOSUserBundle') }} </span></a></li>');                                           
                                     {% endif %}  
                                 {% endif %}  
                                 $('#nav').append('<li class="top"><a  class="top_link" href="{{ path('fos_user_security_logout') }}"><span >{{ 'Salir'|trans({}, 'FOSUserBundle') }}</span></a></li>');                                
                                 <!--$('#nav').append('<li class="top"><a  class="top_link" href="{{ path('fos_user_profile_show') }}"><span >{{ 'Perfil'|trans({}, 'FOSUserBundle') }}</span></a></li>');-->
                             {% else %}                                 
                                 $('#nav').append('<li  class="top"><a  class="top_link" href="{{ path('fos_user_security_login') }}"><span>{{ 'Iniciar'|trans({}, 'FOSUserBundle') }}</span></a></li>');
                                 $('#nav').append('<li class="top"><a  class="top_link" href="{{ path('fos_user_registration_register') }}"><span >{{ 'Registrarse'|trans({}, 'FOSUserBundle') }}</span></a></li>');                                 
                             {% endif %} 
                             <!--$('#nav').append('<li class="top"><a  class="top_link" href="#"><span >MinSal</span></a></li>');-->
                             <!--$('#nav').append('<li class="top"><a  class="top_link" href="#"><span >Acerca de</span></a></li>');-->
                          });
                      });
                </script>

                
                   
                    <div class="container">

                        <div id="header">
                             <span class="preload1"></span>
                            <span class="preload2"></span>
                            <img align="left" src="{{ asset('/images/sidpla1.png') }}" alt="descripción" height="100px" />
                            <img align="right" src="{{ asset('/images/minsalud.jpg') }}" alt="descripción" height="100px" />
                            <center><h1>SISTEMA DE PLANIFICACION <br> ANUAL OPERATIVA <br> PARA LA DIRECCION DE PLANIFICACION<br>MINISTERIO DE SALUD</h1></center>                
                
                            <div class="disclaimer">Ministerio de Salud</div>
                            <ul id="nav"></ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <h3 align="right">Bienvenid@ {{ app.user.empleado.primerNombre }}&nbsp;{{ app.user.empleado.primerApellido }}!!</h3>                            
                            {% endif %}    
                        </div>
                        
                            <div id="contenido">
                                <br></br>
                {% block body %}


                {% endblock %} 
                                </div>
                                <div id="pie">Copyright (C) 2011 Ministerio de Salud</div>

                            </div>
                        </body>
                    </HTML>
