<table WIDTH='85%' class="tablaPlantilla">
    <thead>
        <tr  style=" font-size: 14px;">
            <th class="thEncabezadoPlantilla"><strong>  Correlativo </strong></th>
            <th class="thEncabezadoPlantilla"><strong>  Indicador de Salud </strong></th>
            <th class="thEncabezadoPlantilla"><strong>  Tipo Indicador </strong></th>
            <th class="thEncabezadoPlantilla"><strong>  Acciones </strong></th>
        </tr>
    </thead>
    <tbody>
{% if indSalud is defined %}   
    {% for  indicador in  indSalud%}
    <tr>
        <td class="tdCuerpoPlantilla">{{ indicador.getCorrelativo}} </td>
        <td class="tdCuerpoPlantilla">{{ indicador.getNombreIndSalud}} </td>
        <td class="tdCuerpoPlantilla" align="center" >{{ indicador.getTipoIndicador.getNombreTipIndi}} </td>
         <td class="tdBotonesIconos" WIDTH='60' >
            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}" id="editar" onclick="$('#idIndSal').attr('value',{{indicador.getCodIndSalud}});this.form.action='{{path('MinSalSidPlaIndicadoresTemplateBundle_editarIndicadorSalud')}}';" />
            <br/>Editar
        </td>
    </tr>
    {% endfor %}
 {% endif %}
    </tbody>
</table>