{# SIDPLA - MINSAL
   Copyright (C) 2011  Bruno González   e-mail: bagonzalez.sv EN gmail.com
   Copyright (C) 2011  Universidad de El Salvador

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

 
{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
	Highcharts.theme = { colors: ['#4572A7'] };// prevent errors in default theme
	var highchartsOptions = Highcharts.getOptions(); 
</script>
<script>
    
    
    $(document).ready(function(){
        $('#agregar').button();
        {% if objetivos is defined %}
                    
                    
                    {% for obj in objetivos %}
                        $("#{{ obj.idObjEspec }}Div").hide();                        
                        
                        $("#mostratObj{{ obj.idObjEspec }}").click(function(){ 
                                $("#{{ obj.idObjEspec }}Div").toggle(400);
                            }                            
                         )
                             
                          {% for res in obj.getResultadoEsperado %}
                            {% if( (res.unidadOrganizativa.getIdUnidadOrg == idUnidad) or (res.unidadOrganizativa is null ) ) %} 
                                
                                            var chart{{ res.idResEsp }};
        
                                           chart = new Highcharts.Chart({
                                              chart: {
                                                 renderTo: 'container{{ res.idResEsp}}',
                                                 defaultSeriesType: 'bar'
                                              },
                                              title: {
                                                 text: 'Porcentaje Cumplimiento de Actividades'
                                              },
                                              subtitle: {
                                                 text: 'Fuente: SidPla'
                                              },
                                              xAxis: {
                                                 categories: [
                                                     
                                                      {% for actividadAux in res.actividades %}                                                                            
                                                            {% for actividad in actividades %}                                                                     
                                                               {% if actividadAux.idAct == actividad.idAct %}  
                                                                        '{{ actividad.getActDescripcion }}',
                                                               {% endif %}                                                                                   
                                                            {% endfor %}
                                                     {% endfor %}                                                  
                                                 ],
                                                 title: {
                                                    text: null
                                                 }
                                              },
                                              yAxis: {
                                                 min: 0,
                                                 title: {
                                                    text: 'Porcentaje Cumplimiento',
                                                    align: 'high'
                                                 }
                                              },
                                              tooltip: {
                                                 formatter: function() {
                                                    return ''+
                                                        this.series.name +': '+ this.y +' %';
                                                 }
                                              },
                                              plotOptions: {
                                                 bar: {
                                                    dataLabels: {
                                                       enabled: true
                                                    }
                                                 }
                                              },
                                              legend: {
                                                 layout: 'vertical',
                                                 align: 'right',
                                                 verticalAlign: 'top',
                                                 x: -100,
                                                 y: 100,
                                                 floating: true,
                                                 borderWidth: 1,
                                                 backgroundColor: Highcharts.theme.legendBackgroundColor || '#FFFFFF',
                                                 shadow: true
                                              },
                                              credits: {
                                                 enabled: false
                                              },
                                                   series: [
                                                         {
                                                                name: '{{ 'now' | date('Y')}}',                                                                                         
                                                                data: [
                                                                    
                                                            {% for actividadAux in res.actividades %}                                                                            
                                                                    {% for actividad in actividades %}                                                                     
                                                                       {% if actividadAux.idAct == actividad.idAct %}  
                                                                                {{ actividad.getPorcentajeCumplimiento}} ,
                                                                       {% endif %}                                                                                   
                                                                    {% endfor %}
                                                            {% endfor %}
                                                    
                                                         ]
                                                      },   
                                                       
                                                       
                                                   
                                                    ]
                                           });
                                           
                               
                                $("#{{ res.idResEsp }}ResDiv").hide();  
                                
                                $("#mostratRes{{ res.idResEsp }}").click(function(){ 
                                        $("#{{ res.idResEsp }}ResDiv").toggle(400);
                                    }                            
                                 )
                                 {% endif %}
                          {% endfor %}
                    {% endfor %} 
        {% endif %}  
            
         
                        
            
    });
</script>
<style type="text/css">
form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
input.error { border: 1px dotted red; }
textarea.error { border: 1px dotted red; }
 </style> 

    <br></br>         
    <form id = "formulario"  action="{{ path('MinSalSidPlaPrograMonitoreoBundle_guardarSegumiento') }}" method="post">
        <table align="center"  >
            <tr><td colspan="2" align="center"><h1>Ingreso de Resultados de Actividades - Programaci&oacute;n Monitoreo </h1>                   
                    <h1>PAO: {{"now" | date('Y')}}</h1>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    Seleccione un objetivo especifico y resultado esperado para ingresar sus resultados de actividades. <br>
                    Cuando ingrese los resultados, seran notificados los responsables de la dependencias, asi como las Unidades que dependen de sus actividades.
                </td>
            </tr>            
            {% if objetivos is defined %}                                                                          
                    {% for obj in objetivos %}
                        <tr>
                            <td>
                                <h3>Objetivo Especifico:</h3>
                            </td>
                            <td>
                                 <h3>&RightTriangle;<a  id="mostratObj{{ obj.idObjEspec }}" href="#">{{ obj.descripcion }}</a></h3>                                
                            </td>
                        </tr>                        
                        <tr>
                                <td colspan="2" align="center" size="100%" >                            
                                    <div   class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{ obj.idObjEspec }}Div">
                                        <table class="tablaPlantilla" >
                                            {% for res in obj.getResultadoEsperado %}                                               
                                               {% if( (res.unidadOrganizativa.getIdUnidadOrg == idUnidad) or (res.unidadOrganizativa is null ) ) %}                                                                                                
                                                    <tr>
                                                        <td class="tdCuerpoPlantilla">
                                                            <h4>Resultado Esperado:</h4>
                                                        </td>
                                                        <td class="tdCuerpoPlantilla"> 
                                                            <h4> <a  id="mostratRes{{ res.idResEsp }}" href="#">{{ res.resEspeDesc }}</a></h4>
                                                            <h4> Realizado : {{ res.getPorcentajeCumplimiento }} % </h4>
                                                            <h4> Costo Real : $ {{ res.getCostoTotalReal }} </h4>
                                                            <h4> Costo Programado : $ {{ res.getCostoTotalProgramado }} </h4>                                                            
                                                        </td>
                                                    </tr>                                                                                                        
                                                    <tr>
                                                        <td colspan="3" >
                                                            <div align="center"  class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{ res.idResEsp }}ResDiv">
                                                                <table class="tdCuerpoPlantilla">
                                                                <thead>
                                                                    <tr>
                                                                        {% if trimestre == 1 %} 
                                                                            <th align="center" colspan="9" ><h3>Actividades</h3> </th>
                                                                        {% endif %}     
                                                                        {% if trimestre == 2 %} 
                                                                         <th align="center" colspan="14" ><h3>Actividades</h3> </th>
                                                                        {% endif %}
                                                                        {% if trimestre == 3 %} 
                                                                         <th align="center" colspan="19" ><h3>Actividades</h3> </th>
                                                                        {% endif %}
                                                                        {% if trimestre == 4 %} 
                                                                         <th align="center" colspan="24" ><h3>Actividades</h3> </th>
                                                                        {% endif %}
                                                                    </tr>
                                                                    <tr>                                                                        
                                                                        <th rowspan="2" class="thEncabezadoPlantilla" >Descripcion</th>
                                                                        <th rowspan="2" class="thEncabezadoPlantilla">Meta Anual</th>
                                                                        <th rowspan="2" class="thEncabezadoPlantilla">Desc. Meta</th>
                                                                        <th rowspan="2" class="thEncabezadoPlantilla">Costo</th>
                                                                        {% if trimestre >= 1 %} 
                                                                            <th colspan="5" class="thEncabezadoPlantilla">Primer Trimestre</th>
                                                                        {% endif %}
                                                                        {% if trimestre >= 2 %} 
                                                                            <th colspan="5" class="thEncabezadoPlantilla">Segundo Trimestre</th>
                                                                        {% endif %}
                                                                        {% if trimestre >= 3 %} 
                                                                            <th colspan="5" class="thEncabezadoPlantilla">Tercer Trimestre</th>
                                                                        {% endif %}
                                                                        {% if trimestre >= 4 %} 
                                                                            <th colspan="5" class="thEncabezadoPlantilla">Cuarto Trimestre</th>
                                                                        {% endif %}
                                                                    <tr>
                                                                       {% if trimestre >= 1 %} 
                                                                            <th class="thEncabezadoPlantilla">Program.</th>
                                                                            <th class="thEncabezadoPlantilla">Realizado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Programado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Real</th>
                                                                            <th class="thEncabezadoPlantilla">%</th>
                                                                       {% endif %}
                                                                            
                                                                       {% if trimestre >= 2 %} 
                                                                        
                                                                            <th class="thEncabezadoPlantilla">Program.</th>
                                                                            <th class="thEncabezadoPlantilla">Realizado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Programado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Real</th>
                                                                            <th class="thEncabezadoPlantilla">%</th>                                                                       
                                                                       {% endif %} 
                                                                        
                                                                       {% if trimestre >= 3 %} 
                                                                            <th class="thEncabezadoPlantilla">Program.</th>
                                                                            <th class="thEncabezadoPlantilla">Realizado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Programado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Real</th>
                                                                            <th class="thEncabezadoPlantilla">%</th>
                                                                       {% endif %} 
                                                                        
                                                                       {% if trimestre >= 4 %}  
                                                                            <th class="thEncabezadoPlantilla">Program.</th>
                                                                            <th class="thEncabezadoPlantilla">Realizado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Programado</th>
                                                                            <th class="thEncabezadoPlantilla">Costo<br>Real</th>
                                                                            <th class="thEncabezadoPlantilla">%</th>
                                                                       {% endif %}  
                                                                       
                                                                    </tr>
                                                                        
                                                                    </tr>
                                                                    
                                                                </thead> 
                                                                <tfoot>
                                                                    <tr>
                                                                        {% if trimestre == 1 %} 
                                                                         <td align="center" colspan="9" > 
                                                                        {% endif %}     
                                                                        {% if trimestre == 2 %} 
                                                                         <td align="center" colspan="14" > 
                                                                        {% endif %}
                                                                        {% if trimestre == 3 %} 
                                                                         <td align="center" colspan="19" > 
                                                                        {% endif %}
                                                                        {% if trimestre == 4 %} 
                                                                         <td align="center" colspan="24" > 
                                                                        {% endif %}
                                                                                 
                                                                             <div id="container{{ res.idResEsp }}" class="highcharts-container" style="height:410px; margin: 0 2em; clear:both; min-width: 1000px"></div>
                                                                         </td>
                                                                    </tr> 
                                                                </tfoot>
                                                                <tbody>
                                                                {% for actividadAux in res.actividades %}                                                                       
                                                                    {% for actividad in actividades %}                                                                     
                                                                       {% if actividadAux.idAct == actividad.idAct %}                                                                            
                                                                                <tr>
                                                                                    <td class="tdCuerpoPlantilla">
                                                                                        {{ actividad.getActDescripcion }}
                                                                                    </td class="tdCuerpoPlantilla">
                                                                                    <td align="center" class="tdCuerpoPlantilla">
                                                                                        {{ actividad.actMetaAnual }}
                                                                                    </td>
                                                                                    <td class="tdCuerpoPlantilla">
                                                                                        {{  actividad.actDescMetaAnu }}
                                                                                    </td>
                                                                                    <td align="center" class="tdCuerpoPlantilla">
                                                                                        {{ "$ "  ~ actividad.getCosto}}
                                                                                    </td>
                                                                                    {% for resultadoAct in actividad.getResulAct %}
                                                                                        {% if trimestre >= resultadoAct.resulActTrimestre  %}
                                                                                            <td align="center" class="tdCuerpoPlantilla">
                                                                                                {{ resultadoAct.getResulActProgramado }}
                                                                                            </td>
                                                                                            <td align="center" class="tdCuerpoPlantilla">
                                                                                                {% if resultadoAct.resulActTrimestre == trimestre   %}
                                                                                                    <input name="resultadoRealizado_{{ resultadoAct.idResulAct }}" id="resultadoRealizado_{{ resultadoAct.idResulAct }}"  size="2" value="{{ resultadoAct.getResulActRealizado }}"  ></input>
                                                                                                {% else %}
                                                                                                    <input name="resultadoRealizado_{{ resultadoAct.idResulAct }}" id="resultadoRealizado_{{ resultadoAct.idResulAct }}" size="2" value="{{ resultadoAct.getResulActRealizado }}" readonly="readonly"  ></input>
                                                                                                {% endif %}  
                                                                                                
                                                                                            </td> 
                                                                                            <td align="center" class="tdCuerpoPlantilla">
                                                                                                 {{ "$ " ~ resultadoAct.costoProgramado }}
                                                                                            </td>
                                                                                            <td align="center" class="tdCuerpoPlantilla">
                                                                                                {% if trimestre == resultadoAct.resulActTrimestre  %}
                                                                                                    <input name="costoReal_{{ resultadoAct.idResulAct }}" id="costoReal_{{ resultadoAct.idResulAct }}" size="2" value="{{ resultadoAct.getCostoReal }}"  ></input>
                                                                                                <script type="text/javascript"> $(document).ready(function(){ $('#costoReal_{{ resultadoAct.idResulAct }}').keyfilter(/[\d\.]/);   $('#resultadoRealizado_{{ resultadoAct.idResulAct }}').keyfilter(/[\d\.]/);  }); </script>
                                                                                                     {% else %}
                                                                                                    <input name="costoReal_{{ resultadoAct.idResulAct }}" id="costoReal_{{ resultadoAct.idResulAct }}" size="2" value="{{ resultadoAct.getCostoReal }}" readonly="readonly"  ></input>
                                                                                                {% endif %}
                                                                                            </td>
                                                                                            <td align="center" class="tdCuerpoPlantilla">
                                                                                                    {{  resultadoAct.getPorcentajeCumplimiento ~ "%"  }}
                                                                                            </td>
                                                                                            
                                                                                        {%  endif%}                                                                                    
                                                                                    {% endfor %}
                                                                                </tr>                                                                            
                                                                       {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}                                                                                
                                                                </tbody>
                                                                </table>                                                                
                                                            </div>
                                                        </td>
                                                    </tr>                                                    
                                                {% endif %}
                                            {% endfor %}
                                        </table>                                        
                                    </div>
                                </td>                            
                        </tr>
                    {% endfor %}                                                                                           
            {% endif %}  
            
            <tr>           
                <td colspan="2" align="center">
                <br></br>                                    
                </td>
            </tr>        
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Guardar" name= "agregar" id="agregar"</input>                    
                </td>
            </tr>        
        </table>   
    </form>
    <br></br>
    <br></br>

    <script type="text/javascript">
$(document).ready(function(){
 $("#formulario").validate({
    rules: {
 {% if objetivos is defined %}                                                                          
                    {% for obj in objetivos %}
                           {% for res in obj.getResultadoEsperado %}                                               
                           {% if( (res.unidadOrganizativa.getIdUnidadOrg == idUnidad) or (res.unidadOrganizativa is null ) ) %}                                                 				{% for actividadAux in res.actividades %}                                                                       
                                       {% for actividad in actividades %}                                                                     
                                                 {% if actividadAux.idAct == actividad.idAct %}                                                                            
                                                                               
                                                                                    {% for resultadoAct in actividad.getResulAct %}
                                                                                        {% if trimestre >= resultadoAct.resulActTrimestre  %}
                                                                                             {% if resultadoAct.resulActTrimestre == trimestre   %}
                                                                                                 resultadoRealizado_{{ resultadoAct.idResulAct }}: {
                                                                                                 required: false,
                                                                                                 number: true
                                                                                                 },
                                                                                                
											      {% else %}

                                                                                                
												{% endif %}  
                                                                                                
                                                                                            
                                                                                                {% if trimestre == resultadoAct.resulActTrimestre  %}
                                                                                                costoReal_{{ resultadoAct.idResulAct }}: {
                                                                                                required: false,
                                                                                                number: true
                                                                                                }, 
                                                                                                     {% else %}
                                                                                                   
                                                                                                {% endif %}
                                                                                            
                                                                                 {%endif%}                                                                                    
                                                                                    {% endfor %}
                                                                                                                                                        
                                                                       {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}                                                                                
                                                                                                             
                                                {% endif %}
                                            {% endfor %}
                                       
                    {% endfor %}                                                                                           
            {% endif %}  
}});});</script>  
            
{% endblock %}