 {# SIDPLA - MINSAL
   Copyright (C) 2011  Bruno González   e-mail: bagonzalez.sv EN gmail.com
   Copyright (C) 2011  Universidad de El Salvador

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>. #}


{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
	Highcharts.theme = { colors: ['#4572A7'] };// prevent errors in default theme
	var highchartsOptions = Highcharts.getOptions(); 
</script>
<script>
    
    var chart;
    $(document).ready(function(){
        {% if areasClasif is defined %} 
                {% for area in areasClasif %}
                     $("#{{  area.codArea }}AreaDiv").hide();
                      $("#mostratArea{{area.codArea  }}").click(function(){ 
                                $("#{{area.codArea  }}AreaDiv").toggle(400);
                            }                            
                         )
                {% endfor %} 
        {% endif %} 

        {% if objetivos is defined %}
                    
                    
                    {% for obj in objetivos %}
                        $("#{{ obj.codObjEspUni }}Div").hide();                        
                        
                        $("#mostratObj{{ obj.codObjEspUni }}").click(function(){ 
                                $("#{{ obj.codObjEspUni }}Div").toggle(400);
                            }                            
                         )
                         
                     {% if trimestre == 4   %}
                         {% for indi in obj.getIndicadoresSalud %} 
                             
                                {% for resulEvaIndicador in indi.getEvaluacionesIndicador %}                                                                                         
                                    {% if resulEvaIndicador.indSalud.codIndSalud == indi.codIndSalud %} 
                                        {% if evalIndicadorResultado.codEvaRes == resulEvaIndicador.evaResul.codEvaRes %}
                                                    
                                                   $('#dialog{{ indi.codIndSalud }}').jqm();
                                                   
                                                    $('#grafico{{ indi.codIndSalud }}').click(function() {
                                                        $('#dialog{{ indi.codIndSalud }}').jqmShow();              
                                                   });

                                                   chart = new Highcharts.Chart({
                                                      chart: {
                                                         renderTo: 'container{{indi.codIndSalud }}',
                                                         defaultSeriesType: 'line',
                                                         marginRight: 130,
                                                         marginBottom: 25
                                                      },
                                                      title: {
                                                         text: '{{ indi.nombreIndSalud}}',
                                                         x: -20 //center
                                                      },
                                                      subtitle: {
                                                         text: 'Fuente: SIDPLA',
                                                         x: -20
                                                      },
                                                      xAxis: {
                                                         categories: ['Trim 1', 'Trim 2', 'Trim 3', 'Trim 4']
                                                      },
                                                      yAxis: {
                                                         title: {
                                                            text: 'Personas'
                                                         },
                                                         plotLines: [{
                                                            value: 0,
                                                            width: 1,
                                                            color: '#808080'
                                                         }]
                                                      },
                                                      tooltip: {
                                                         formatter: function() {
                                                                   return '<b>'+ this.series.name +'</b><br/>'+
                                                               this.x +': '+ this.y +'';
                                                         }
                                                      },
                                                      legend: {
                                                         layout: 'vertical',
                                                         align: 'right',
                                                         verticalAlign: 'top',
                                                         x: -10,
                                                         y: 100,
                                                         borderWidth: 0
                                                      },
                                                      series: [{
                                                         name: '{{evalIndicadorResultado.paoEvaResul.anio}}',
                                                         data: [
                                                             {% for resulEvaIndicador in indi.getEvaluacionesIndicador %}                                                                                         
                                                                  {% if resulEvaIndicador.indSalud.codIndSalud == indi.codIndSalud %} 
                                                                     {% if evalIndicadorResultado.codEvaRes == resulEvaIndicador.evaResul.codEvaRes %}
                                                                         {{ resulEvaIndicador.getResEvaInd }},
                                                                     {% endif %}
                                                                  {% endif %} 
                                                             {% endfor%}
                                                         ]
                                                      }, {
                                                         name: '{{evalIndicadorResultadoAnioAnterior.paoEvaResul.anio}}',
                                                         data: [
                                                             {% for resulEvaIndicador in indi.getEvaluacionesIndicador %}                                                                                         
                                                                  {% if resulEvaIndicador.indSalud.codIndSalud == indi.codIndSalud %} 
                                                                     {% if evalIndicadorResultadoAnioAnterior.codEvaRes == resulEvaIndicador.evaResul.codEvaRes %}
                                                                         {{ resulEvaIndicador.getResEvaInd }},
                                                                     {% endif %}
                                                                  {% endif %} 
                                                             {% endfor%}                                                             
                                                                 
                                                         ]
                                                      }]
                                                   });
   
   
                                          
                                                
                                               {% for evaluacionIndicaAnt in evalIndicadorResultadoAnioAnterior.getEvaIndi  %}
                                                   
                                               {% endfor %}
                                                   
                                                   
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}                         
                         {% endfor %}                             
                     {% endif %}
                           
                             
                          
                    {% endfor %} 
        {% endif %}  
            
         
                        
            
    });
</script>    
   
    <form id = "formulario"  action="{{ path('MinSalSidPlaPrograMonitoreoBundle_guardarEvaluaciondeResultadosUNISAL') }}" method="post">
        <table align="center"  >
            <tr><td colspan="2" align="center"><h1>Evaluaci&oacute;n de Resultados - Unidad de Salud</h1>                    
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
               Los indicadores de resultados  se llenará automáticamente para algunos de dichos indicadores, pero manualmente para
               otros. Su importancia radica en que todos estos indicadores tienen relación con algún compromiso ya sea de carácter nacional o internacional.
           </td>
            </tr> 
            
             {% if areasClasif is defined %} 
                {% for area in areasClasif %}
                        <tr>
                            <td>
                                <h3>Area:</h3>
                            </td>
                            <td>
                                 <h3>&RightTriangle;<a  id="mostratArea{{ area.codArea }}" href="#">{{ area.getNombreArea }}</a></h3>                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" size="100%" >
                                <div align="center"  class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{  area.codArea }}AreaDiv">
                                <table align="center"  >
                                    {% if objetivos is defined %}                                                                          
                                            {% for obj in objetivos %}
                                                    {% if obj.areaClaObj.codArea == area.codArea  %}
                                                                <tr>
                                                                    <td>
                                                                        <h3>Objetivo Especifico:</h3>
                                                                    </td>
                                                                    <td>
                                                                         <h3>&RightTriangle;<a  id="mostratObj{{ obj.codObjEspUni }}" href="#">{{ obj.descObjEspUni }}</a></h3>                                
                                                                         <h3> Realizado: {{ obj.getPorcentajeCumplimiento(idProgramon) }} % </h3>
                                                                    </td>
                                                                </tr>                        
                                                                <tr>
                                                                        <td colspan="3" align="center" size="100%" >                            
                                                                            <div   class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{ obj.codObjEspUni }}Div">
                                                                                <table border="1" >
                                                                                    <thead>
                                                                                                           <tr>
                                                                                                            {% if trimestre == 1 %} 
                                                                                                              <th align="center" colspan="9" ><h3>Indicadores</h3> </th>
                                                                                                               {% endif %}     
                                                                                                                {% if trimestre == 2 %} 
                                                                                                                 <th align="center" colspan="14" ><h3>Indicadores</h3> </th>
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 3 %} 
                                                                                                                 <th align="center" colspan="19" ><h3>Indicadores</h3> </th>
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 4 %} 
                                                                                                                 <th align="center" colspan="24" ><h3>Indicadores</h3> </th>
                                                                                                                {% endif %}
                                                                                                            </tr>
                                                                                                            <tr>                                                                        
                                                                                                                <th rowspan="3" >Indicador</th>
                                                                                                                <th rowspan="2">Carácter del indicador</th>
                                                                                                                <th rowspan="2">Formula 1</th>
                                                                                                                <th rowspan="2">Formula 2</th>
                                                                                                                {% if trimestre >= 1 %} 
                                                                                                                    <th colspan="15" >Resultados</th>
                                                                                                                {% endif %}
                                                                                                                
                                                                                                            <tr>
                                                                                                               {% if trimestre >= 1 %} 
                                                                                                                    <th>AL TRIM 1.</th>
                                                                                                                    
                                                                                                               {% endif %}

                                                                                                               {% if trimestre >= 2 %} 

                                                                                                                    <th>AL TRIM 2.</th>
                                                                                                                                                                                          
                                                                                                               {% endif %} 

                                                                                                               {% if trimestre >= 3 %} 
                                                                                                                    <th>AL TRIM 3.</th>
                                                                                                                  
                                                                                                               {% endif %} 

                                                                                                               {% if trimestre >= 4 %}  
                                                                                                                    <th>AL TRIM 4.</th>
                                                                                                                    <th>AL final.</th>
                                                                                                               {% endif %}  

                                                                                                            </tr>

                                                                                                            </tr>

                                                                                                        </thead> 
                                                                                                        <tfoot>
                                                                                                            <tr>
                                                                                                                {% if trimestre == 1 %} 
                                                                                                                 <td align="center" colspan="9" > 
                                                                                                                {% endif %}     
                                                                                                                {% if trimestre == 2 %} 
                                                                                                                 <td align="center" colspan="14" > 
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 3 %} 
                                                                                                                 <td align="center" colspan="19" > 
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 4 %} 
                                                                                                                 <td align="center" colspan="24" > 
                                                                                                                {% endif %}                                                         
                                                                                              
                                                                                                                     
                                                                                                                 </td>
                                                                                                            </tr> 
                                                                                                        </tfoot>
                                                                                                        
                                                                                                            <tbody>
                                                                                     {% for indi in obj.getIndicadoresSalud %}     
                                                                                                                
                                                                                      <tr>                       
                                                                                    <td>
                                                                                        {{ indi.nombreIndSalud}}
                                                                                    </td>
                                                                                    <td align="center">
                                                                                        {{ indi.tipoIndicador.getNombreTipIndi }}
                                                                                    </td>
                                                                                    <td >
                                                                                        {{  indi.form1IndSalud }}
                                                                                    </td>
                                                                                    <td align="center">
                                                                                        {{ indi.form2IndSalud}}
                                                                                    </td>
                                                                                
                                                                                      
                                                                                    {% set suma =0 %}
                                                                                    
                                                                                    
                                                                                    {% for resulEvaIndicador in indi.getEvaluacionesIndicador %} 
                                                                                        
                                                                                       {% if resulEvaIndicador.indSalud.codIndSalud == indi.codIndSalud %} 
                                                                                             {% if evalIndicadorResultado.codEvaRes == resulEvaIndicador.evaResul.codEvaRes %}
                                                                                                {% if trimestre >= resulEvaIndicador.trimEvaInd  %}
                                                                                                    {%set suma = suma + resulEvaIndicador.getResEvaInd %}
                                                                                                    <td  align="center">  
                                                                                                       {% if trimestre >=resulEvaIndicador.trimEvaInd   %}                                                                                                          
                                                                                                            <input name="resultadoEvaIndicador_{{ resulEvaIndicador.codEvaInd }}" size="2" value="{{ resulEvaIndicador.getResEvaInd }}"  ></input>
                                                                                                       {% else %}
                                                                                                            <input name="resultadoEvaIndicador_{{ resulEvaIndicador.codEvaInd }}" size="2" value="{{ resulEvaIndicador.getResEvaInd }}" readonly="readonly"  ></input>
                                                                                                       {% endif %} 
                                                                                                    </td>
                                                                                                {% endif %}
                                                                                         {% endif %}
                                                                                       {% endif %}
                                                                                    {% endfor %}
                                                                                                    
                                                                                    {% if trimestre == 4   %}
                                                                                               <td  align="center">  
                                                                                                    <input name="suma" size="2" value="{{ suma/4 }}"  ></input>
                                                                                                    <input type="button" id="grafico{{ indi.codIndSalud }}"  value="..."/>
                                                                                                     <div class="jqmWindow" style="width: 1100px; height: 500px; " id="dialog{{ indi.codIndSalud }}">
                                                                                                        <a href="#" class="jqmClose">Cerrar</a>
                                                                                                        <hr>
                                                                                                        <p>Comparativos</p>
                                                                                                        <table>
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <div id="container{{ indi.codIndSalud }}" class="highcharts-container" style="height:1px; margin: 0 2em; clear:both; min-width: 1000px"></div>
                                                                                                                    </td> 
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>  
                                                                                               </td>                                                                                                          
                                                                                    {% endif %}
                                                                                    
                                                                                    </tr>
                                                                                    </tbody>
                                                                                    
                                                                                      
                                                                                   
                                                                                   {%endfor%}
                                                                                </table>                                        
                                                                            </div>
                                                                        </td>                            
                                                                </tr>
                                                    {%endif%}                                              
                                            {%endfor%}                                                                                           
                                    {%endif%}  
                                    
                                </table>
                                </div>
                            </td>                           
                        </tr>
                {%endfor%}
            {%endif%}
            
            
            
            <tr>           
                <td colspan="2" align="center">
                <br></br>                                    
                </td>
            </tr>        
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Guardar" name= "agregar" id="agregar"</input>                    
                </td>
            </tr>        
        </table>   
    </form>
    <br></br>
    <br></br>

{% endblock %}