 
{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
	Highcharts.theme = { colors: ['#4572A7'] };// prevent errors in default theme
	var highchartsOptions = Highcharts.getOptions(); 
</script>
<script>
    
    
    $(document).ready(function(){
        {% if areasClasif is defined %} 
                {% for area in areasClasif %}
                     $("#{{  area.codArea }}AreaDiv").hide();
                      $("#mostratArea{{area.codArea  }}").click(function(){ 
                                $("#{{area.codArea  }}AreaDiv").toggle(400);
                            }                            
                         )
                {% endfor %} 
        {% endif %} 

        {% if objetivos is defined %}
                    
                    
                    {% for obj in objetivos %}
                        $("#{{ obj.codObjEspUni }}Div").hide();                        
                        
                        $("#mostratObj{{ obj.codObjEspUni }}").click(function(){ 
                                $("#{{ obj.codObjEspUni }}Div").toggle(400);
                            }                            
                         )
                             
                          
                    {% endfor %} 
        {% endif %}  
            
         
                        
            
    });
</script>
    <br></br>               
    <form id = "formulario"  action="{{ path('MinSalSidPlaPrograMonitoreoBundle_guardarEvaluaciondeResultadosUNISAL') }}" method="post">
        <table align="center"  >
            <tr><td colspan="2" align="center"><h1>Evaluaci&oacute;n de Resultados - Unidad de Salud</h1>                    
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
               Los indicadores de resultados  se llenará automáticamente para algunos de dichos indicadores, pero manualmente para
               otros. Su importancia radica en que todos estos indicadores tienen relación con algún compromiso ya sea de carácter nacional o internacional.
           </td>
            </tr> 
            
             {% if areasClasif is defined %} 
                {% for area in areasClasif %}
                        <tr>
                            <td>
                                <h3>Area:</h3>
                            </td>
                            <td>
                                 <h3>&RightTriangle;<a  id="mostratArea{{ area.codArea }}" href="#">{{ area.getNombreArea }}</a></h3>                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" size="100%" >
                                <div align="center"  class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{  area.codArea }}AreaDiv">
                                <table align="center"   >
                                    {% if objetivos is defined %}                                                                          
                                            {% for obj in objetivos %}
                                                    {% if obj.areaClaObj.codArea == area.codArea  %}
                                                                <tr>
                                                                    <td>
                                                                        <h3>Objetivo Especifico:</h3>
                                                                    </td>
                                                                    <td>
                                                                         <h3>&RightTriangle;<a  id="mostratObj{{ obj.codObjEspUni }}" href="#">{{ obj.descObjEspUni }}</a></h3>                                
                                                                         <h3> Realizado: {{ obj.getPorcentajeCumplimiento(idProgramon) }} % </h3>
                                                                    </td>
                                                                </tr>                        
                                                                <tr>
                                                                        <td colspan="3" align="center" size="100%" >                            
                                                                            <div   class="visibility:visible;overflow-y:auto;overflow-x:auto;top:0;width:100%;height:135;position:relative;"  id="{{ obj.codObjEspUni }}Div">
                                                                                <table class="tablaPlantilla" >
                                                                                    <thead>
                                                                                                           <tr>
                                                                                                            {% if trimestre == 1 %} 
                                                                                                              <th align="center" colspan="9" class="thEncabezadoPlantilla"><h3>Indicadores</h3> </th>
                                                                                                               {% endif %}     
                                                                                                                {% if trimestre == 2 %} 
                                                                                                                 <th align="center" colspan="14" class="thEncabezadoPlantilla" ><h3>Indicadores</h3> </th>
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 3 %} 
                                                                                                                 <th align="center" colspan="19" class="thEncabezadoPlantilla" ><h3>Indicadores</h3> </th>
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 4 %} 
                                                                                                                 <th align="center" colspan="24" class="thEncabezadoPlantilla" ><h3>Indicadores</h3> </th>
                                                                                                                {% endif %}
                                                                                                            </tr>
                                                                                                            <tr>                                                                        
                                                                                                                <th rowspan="2" class="thEncabezadoPlantilla" >Indicador</th>
                                                                                                                <th rowspan="2" class="thEncabezadoPlantilla">Carácter del indicador</th>
                                                                                                                <th rowspan="2" class="thEncabezadoPlantilla">Formula 1</th>
                                                                                                                <th rowspan="2" class="thEncabezadoPlantilla">Formula 2</th>
                                                                                                                {% if trimestre >= 1 %} 
                                                                                                                    <th colspan="5" class="thEncabezadoPlantilla" >Primer Trimestre</th>
                                                                                                                {% endif %}
                                                                                                                {% if trimestre >= 2 %} 
                                                                                                                    <th colspan="5" class="thEncabezadoPlantilla" >Segundo Trimestre</th>
                                                                                                                {% endif %}
                                                                                                                {% if trimestre >= 3 %} 
                                                                                                                    <th colspan="5" class="thEncabezadoPlantilla" >Tercer Trimestre</th>
                                                                                                                {% endif %}
                                                                                                                {% if trimestre >= 4 %} 
                                                                                                                    <th colspan="5" class="thEncabezadoPlantilla" >Cuarto Trimestre</th>
                                                                                                                {% endif %}
                                                                                                            <tr>
                                                                                                               {% if trimestre >= 1 %} 
                                                                                                                    <th class="thEncabezadoPlantilla">AL TRIM 1</th>
                                                                                                                    
                                                                                                               {% endif %}

                                                                                                               {% if trimestre >= 2 %} 

                                                                                                                    <th class="thEncabezadoPlantilla">AL TRIM 2.</th>
                                                                                                                                                                                          
                                                                                                               {% endif %} 

                                                                                                               {% if trimestre >= 3 %} 
                                                                                                                    <th class="thEncabezadoPlantilla">AL TRIM 3.</th>
                                                                                                                  
                                                                                                               {% endif %} 

                                                                                                               {% if trimestre >= 4 %}  
                                                                                                                    <th class="thEncabezadoPlantilla">AL TRIM 4.</th>
                                                                                                                    <th class="thEncabezadoPlantilla">AL final.</th>
                                                                                                               {% endif %}  

                                                                                                            </tr>

                                                                                                            </tr>

                                                                                                        </thead> 
                                                                                                        <tfoot>
                                                                                                            <tr>
                                                                                                                {% if trimestre == 1 %} 
                                                                                                                 <td align="center" colspan="9" class="tdCuerpoPlantilla" > 
                                                                                                                {% endif %}     
                                                                                                                {% if trimestre == 2 %} 
                                                                                                                 <td align="center" colspan="14" class="tdCuerpoPlantilla" > 
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 3 %} 
                                                                                                                 <td align="center" colspan="19" class="tdCuerpoPlantilla" > 
                                                                                                                {% endif %}
                                                                                                                {% if trimestre == 4 %} 
                                                                                                                 <td align="center" colspan="24" class="tdCuerpoPlantilla"> 
                                                                                                                {% endif %}
                                                                                                                  
                                                                                                                                                                      
                                                                                       {# if( (res.unidadOrganizativa.getIdUnidadOrg == idUnidad) or (res.unidadOrganizativa is null ) ) #}                                                                                                
                                                                                              
                                                                                                                     <div id="container{{ obj.codObjEspUni }}" class="highcharts-container" style="height:1px; margin: 0 2em; clear:both; min-width: 1000px"></div>
                                                                                                                 </td>
                                                                                                            </tr> 
                                                                                                        </tfoot>
                                                                                                        
                                                                                                            <tbody>
                                                                                                            {% for indi in obj.getIndicadoresSalud %}    {# for res in obj.getResultEspObjT) ) #}  
                                                                                      <tr>                       
                                                                                    <td class="tdCuerpoPlantilla">
                                                                                        {{ indi.nombreIndSalud}}
                                                                                    </td>
                                                                                    <td align="center" class="tdCuerpoPlantilla">
                                                                                        {{ indi.tipoIndicador.getNombreTipIndi }}
                                                                                    </td>
                                                                                    <td class="tdCuerpoPlantilla">
                                                                                        {{  indi.form1IndSalud }}
                                                                                    </td>
                                                                                    <td align="center" class="tdCuerpoPlantilla">
                                                                                        {{ indi.form2IndSalud}}
                                                                                    </td>
                                                                                
                                                                                      
                                                                                    {% for resulEvaIndicador in indi.getEvaluacionesIndicador %} 
                                                                                      <td align="center" class="tdCuerpoPlantilla">                                                                                    
                                                                                       {% if resulEvaIndicador.trimEvaInd == trimestre   %}    
                                                                                     <input name="resultadoEvaIndicador_{{ resulEvaIndicador.codEvaInd }}" size="2" value="{{ resulEvaIndicador.getResEvaInd }}"  ></input>
                                                                                            
                                                                                       {% else %}
                                                                                           <input name="resultadoEvaIndicador_{{ resulEvaIndicador.codEvaInd }}" size="2" value="{{ resulEvaIndicador.getResEvaInd }}" readonly="readonly"  ></input>
                                                                                            {% endif %} 
                                                                                           </td> 
                                                                                    {% endfor %}
                                                                                    
                                                                                    </tr> 
                                                                              
                                                                                    </tbody>
                                                                                   {%endfor%}
                                                                                </table>                                        
                                                                            </div>
                                                                        </td>                            
                                                                </tr>
                                                    {%endif%}                                              
                                            {%endfor%}                                                                                           
                                    {%endif%}  
                                    
                                </table>
                                </div>
                            </td>                           
                        </tr>
                {%endfor%}
            {%endif%}
            
            
            
            <tr>           
                <td colspan="2" align="center">
                <br></br>                                    
                </td>
            </tr>        
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Guardar" name= "agregar" id="agregar"</input>                    
                </td>
            </tr>        
        </table>   
    </form>
    <br></br>
    <br></br>

{% endblock %}