{# Muestra todos las opciones #}
{% block body %}
<form action= "" method="post">
    <input type='hidden' name='idfilaobj' id="idfilaobj" value='' />
    <input type='hidden' name='anio' id="anio" value='' />
    <input type='hidden' name='idfila' id="idfila" value='' />
    <input type='hidden' name='objUniControl' id="objUniControl" value='true' />

    <table WIDTH='85%' class="tablaPlantilla">
        <thead>
            <tr>
                <th class="thEncabezadoPlantilla" ><strong>  Cod </strong></th>
                <th class="thEncabezadoPlantilla" ><strong>  Objetivo </strong>
                </th>
                <th class="thEncabezadoPlantilla" ><strong>  Acciones </strong>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if objetivos is defined %}
            {%for obj in objetivos%}
                <tr>
                    <td class="tdCuerpoPlantilla" >{%if obj.getIdObjEspec.nomenclatura is null%}<strong> En Asignación </strong>{%else%}{{ obj.getIdObjEspec.nomenclatura}}{%endif%}</td>    
                    <td class="tdCuerpoPlantilla">{{ obj.getIdObjEspec.getDescripcion}}</td>
                    <td class="tdBotonesIconos" WIDTH='60' >
                        <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}"  id="resultadoEsperado" onclick="$('#idfila').attr('value', {{obj.getIdObjEspec.getIdObjEspec}}); this.form.action='{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados')}}';" />
                        <br/>Resultados Esperados
                    </td>
                </tr>
            {%endfor%}
        {% endif %}
            </tbody>
        </table>
        <br></br>        
    </form>  

{% endblock %}
