{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
      $(document).ready(function(){
     //  $("#theGrid").closest(".ui-jqgrid-bdiv").css({ 'overflow-y' : 'scroll' });
      //jQuery("#theGrid").jqGrid('hideCol',"id").trigger("reloadGrid");   
          //cuando le da click en el boton Nuevo
    $("#guardar").click(function(){
        alert("datos de justificacion guardados con exito!");
     });
     
      $('#cancelar').click(function() {
              document.location.href='{{ path('MinSalSidPlaPaoBundle_homepage') }}'
          });
       $('#reporte').click(function() {
              $('#formulario').get(0).setAttribute('action', '{{ path('MinSalSidPlaPaoBundle_reporteJustificacion') }}');
              
          });
         
     });
    </script>

<br></br>
    <br></br>         
    <br></br>    
    <form id="formulario" action="{{ path('MinSalSidPlaPaoBundle_actualizarJustificacion')}}" method="post" >
                <table align="center" id="datosgeneralesTabla"  >
                    <tr>
                        <td colspan="4" align="center" ><h1>Justificacion </h1></td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td <p><h3>JUSTIFICACIÓN (Incluya un resumen del diagnóstico situacional actual del establecimiento de salud y 
                                su área geo-poblacional <br>en término de indicadores de salud, etc.
                                Debe incluir información relevante del entorno externo y del entorno interno.)</h3></p>
                        </td>
                    </tr>
                    <tr>
                        <td ></td>
                       
                        <td colspan="3" ><textarea rows="20" cols="100" name="justificacion"  size="60%" id="justificacion"> {{MensajeJustifi.getJustificacion_descripcion()}} </textarea></td>
                    </tr>
                   
                                         
                    <tr>
                        <td colspan="4" align="center" ><button type="submmit" id="guardar"  >Guardar</button>
                            <button type="submmit" id="cancelar"  >Cancelar</button>
                            <button type="submmit" id="reporte"  >Reporte</button>
                        </td>                        
                    </tr> 
                     <tr>
                        <td ></td>
                        <td colspan="3" ><input type="hidden" size="60%" name="id" id="id" value= "{{MensajeJustifi.getIdJustificacion()}}" ></input></td>
                    </tr>
                </table>
            </form>
    <br></br>
    <br></br>
{% endblock %}
