{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}

{% block body %}
<script type="text/javascript">
$(document).ready(function(){
   
   $("#idDepen").combobox();
   $('#idDepen').css("width", '150px');
    
   $('#enviar1').button();
   $('#enviar1').click(function(evento) {
          if($("#idDepen").val()==0){
                       alert("Seleccione una Unidad de Salud para generar el Reporte");
                        evento.preventDefault();
          }
         /*else{ 
             this.form.action='{{ path('MinSalSidPlaCensoBundle_generarCensoUsuario') }}';
         }*/
    });
    
    
   $('#enviar2').button();
   $('#enviar2').click(function(evento) {
          if($("#idDepen").val()==0){
                       alert("Seleccione una Unidad de Salud para generar el Reporte");
                        evento.preventDefault();
          }
         else{ 
             this.form.action= '{{ path('MinSalSidPlaReportesBundle_reporteFormulario1') }}';            
         }
    });
    
   $('#enviar3').button();
   $('#enviar3').click(function(evento) {
          if($("#idDepen").val()==0){
                       alert("Seleccione una Unidad de Salud para generar el Reporte");
                        evento.preventDefault();
          }
         else{ 
             this.form.action='{{ path('MinSalSidPlaReportesBundle_reporteCaracOrg') }}';
         }
    });
    
   $('#enviar4').button();
   $('#enviar4').click(function(evento) {
          if($("#idDepen").val()==0){
                       alert("Seleccione una Unidad de Salud para generar el Reporte");
                        evento.preventDefault();
          }
         else{ 
             this.form.action='{{ path('MinSalSidPlaReportesBundle_reporteCompromisoCumplimiento')}}';
         }
    });
   
   $('#enviar5').button();
   $('#enviar5').click(function(evento) {
          if($("#idDepen").val()==0){
                       alert("Seleccione una Unidad de Salud para generar el Reporte");
                        evento.preventDefault();
          }
         else{ 
             this.form.action='{{ path('MinSalSidPlaReportesBundle_reporteActividadesAtrasadas')}}';
         }
    });
   
    
    $.getJSON('reportesDepenJSON', function(data) {
         var i=0;
         $.each(data, function(key, val) {
           if(key=='rows'){
             $.each(val, function(id, registro){
                 $('#idDepen').append('<option value="'+registro['cell'][1]+'">'+registro['cell'][0]+'</option>');
             });
            }
          });
    });
});	

 </script>

    <br></br>               
    <form action="" method="post">
        <table align="center">
            <tr>
                <td colspan="2" align="center"><h1>Reportes de Dependencias</h1>                    
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p style=" font-family: Verdana, Geneva, sans-serif; font-size: 12px;" > Seleccione la Dependencia para generar el reporte<br/>
                        Luego de Clic en el reporte que desea Generar   
                    </p>
                </td>
                <td>
                    <select id='idDepen' name='idDepen'>
                        <option value="0" >Seleccione</option>
                    </select>
                </td>
                
            </tr>
            <tr>
                <td colspan="2"  align="center">
                    <br/><br/><br/>
                </td>
            </tr> 
            <tr>
                <td colspan="2"  align="center">
                    <input type="submit" value="Programacion de Resultados y Actividades" id="enviar1"/>
                    <input type="submit" value="Informacion General" id="enviar2"/>
                    <input type="submit" value="Caracteristicas de la Organizacion" id="enviar3"/>
                    <input type="submit" value="Compromiso Cumplimiento" id="enviar4"/>
                    <input type="submit" value="Actividades Atrasadas" id="enviar5"/>
                </td>
            </tr> 
                  
        </table>
    </form>
    <br></br>
    <br></br>

{% endblock %}