{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    $('#guardarResEsp').button();
    $('#limpiarResEsp').button();
    $('#regresarResEsp').button();
    
    $('#guardarResEsp').click(function(evento) {
          this.form.action='{{ path('MinSalSidPlaTemplateUnisalBundle_manttActUnisalTemplate') }}';
    });
    
   $("#regresarResEsp").click(function(){
       window.location='mostrarActUnisalTemplate?idObj={{idObj}}&idResEsp={{idResEsp}}';
   });
   
   $.getJSON('{{ path('MinSalSidPlaCensoBundle_consultarCategoriaCensoJSON')}}', function(data) {
      var i=0;
      $.each(data, function(key, val) {
        if(key=='rows'){
          $.each(val, function(id, registro){
           {% if universo is defined %}
               if(registro['cell'][0]!={{universo}})
                  $('#categoriaCenso').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');
           {% else %}
               $('#categoriaCenso').append('<option value="'+registro['cell'][0]+'">'+registro['cell'][1]+'</option>');                                
           {% endif %}
           
          });                    
        }
      });
   });
   $("#categoriaCenso").combobox();
   $('#categoriaCenso').css("width", '150px');
    
    $("#forResEsp").validate();
    $('#tabs').tabs();
    
});
    </script>
    <style type="text/css">
            form.cmxform label.error, label.error {
                /* remove the next line when you have trouble in IE6 with labels in list */
                color: red;
                font-style: italic
            }
            input.error { border: 1px dotted red; }
            textarea.error { border: 1px dotted red; }
        </style>  

        <form id="forResEsp" name="forResEsp" method="post" >
{% if idAct is defined %}
                 <h1 style=" text-align: center">Modifique la Actividad para Unidades de Salud</h1>
        <div id="tabs">
                <ul><li><a href="#tabs-1">Actividad para Unidades de Salud</a></li></ul>
                <div id="tabs-1" >
             <table colspan="4"  align="center">
                     <tr>
                        <td style=" font-size: 12px" >Objetivo:</td>   
                        <td align="center" style=" font-size: 12px">
                            <textarea readonly="readonly"  rows="4" cols="83" name= 'objEspTmp'  size="83%" id="objEspTmp" >{{descObj}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Resultado Esperado:</td>   
                        <td align="center" style=" font-size: 12px">
                            <textarea readonly="readonly"  rows="2" cols="83" name= 'descResEsp'  size="83%" id="descResEsp" >{{descResEsp}}</textarea>
                        </td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px" >Actividad(*):</td>
                        <td><textarea class="required" rows="4" cols="83" name= 'descAct'  size="83%" id="descAct" >{{descAct}}</textarea></td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px" >Responsable(*):</td>
                        <td><input name="resAct" id="resAct" type="text" size="60" maxlength="150" value="{{resAct}}" /></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Beneficiarios(*):</td>
                        <td><input name="benAct" id="benAct" type="text" size="60" maxlength="80" value="{{benAct}}" /></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Universo:</td>
                          <td>                           
                            <select  id="categoriaCenso" name="categoriaCenso">
                               <option value="0" >Seleccione una Categoria</option>
                               {% if universo is defined %}
                               <option value="{{universo}}" selected="selected" >{{descuniverso}}</option>
                               {% endif %}
                            </select>
                        </td> 
                    </tr>
                    <tr>
                        <td style=" font-size: 12px; text-align: right" valign="top" >Total a utilizar para el Universo:</td>
                        <td><input type="radio" name="tipTotAct" value="1"{% if tipoTotAct is defined %}{% if tipoTotAct==1%}  checked="checked" {% endif%} {% endif%}/> Total General<br></br>
                            <input type="radio" name="tipTotAct" value="2" {% if tipoTotAct is defined %}{% if tipoTotAct==2%}  checked="checked" {% endif%} {% endif%} /> Poblacion Promotores de Salud
                        </td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Cobertura:</td>
                        <td><input name="cobAct" id="cobAct" type="text" size="20" value="{{cobAct}}" /></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Concentracion:</td>
                        <td><input name="conAct" id="conAct" type="text" size="20" value="{{conAct}}" /></td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px" >Supuestos Factores Condicionantes:</td>
                        <td><input name="supAct" id="supAct" type="text" size="60" maxlength="255" value="{{supAct}}" /></td>
                    </tr>
                      <tr>
                          <td style=" font-size: 12px" ><br></br></td>
                        <td></td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px; text-align: right" valign="top" >Meta Anual(*):</td>
                        <td><input type="radio" name="metAnuAct" value="1"{% if metAnuAct==1%}  checked="checked" {% endif%} > Digitada<br></br>
                            <input type="radio" name="metAnuAct" value="2" {% if metAnuAct==2%}  checked="checked" {% endif%} > Calculada por Cantidad *  Concentracion<br></br>
                            <input type="radio" name="metAnuAct" value="3" {% if metAnuAct==3%}  checked="checked" {% endif%} > Formula
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submmit" id="guardarResEsp"  >Guardar</button>
                            <button type="reset" id="limpiarResEsp"  >Limpiar</button>
                            <button type="button" id="regresarResEsp"  >Regresar</button>
                        </td>
                    </tr>

                </table>
                <input type='hidden' name='idObj' id="idObj" value='{{idObj}}' />
                <input type='hidden' name='idResEsp' id="idResEsp" value='{{idResEsp}}' />  
                <input type='hidden' name='idAct' id="idAct" value='{{idAct}}' />  
                <input type='hidden' name='oper' id="oper" value='edit' /> 
                  </div>
                </div>
{% else%}
                  <h1 style=" text-align: center">Ingrese la Actividad para Unidades de Salud</h1>
        <div id="tabs">
                <ul><li><a href="#tabs-1">Actividad para Unidades de Salud</a></li></ul>
                <div id="tabs-1" >
                <table colspan="4"  align="center"><!-- id="datos"  -->
                    <tr>
                        <td style=" font-size: 12px" >Objetivo:</td>   
                        <td align="center" style=" font-size: 12px">
                            <textarea readonly="readonly"  rows="4" cols="83" name= 'objEspTmp'  size="83%" id="objEspTmp" >{{descObj}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Resultado Esperado:</td>   
                        <td align="center" style=" font-size: 12px">
                            <textarea readonly="readonly"  rows="2" cols="83" name= 'descResEsp'  size="83%" id="descResEsp" >{{descResEsp}}</textarea>
                        </td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px" >Actividad(*):</td>
                        <td><textarea class="required" rows="4" cols="83" name= 'descAct'  size="83%" id="descAct" ></textarea></td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px" >Responsable(*):</td>
                        <td><input class="required" name="resAct" id="resAct" type="text" size="60" maxlength="150" /></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Beneficiarios(*):</td>
                        <td><input class="required" name="benAct" id="benAct" type="text" size="60" maxlength="80" /></td>
                    </tr>
                                        <tr>
                        <td style=" font-size: 12px" >Universo:</td>
                          <td>                           
                            <select  id="categoriaCenso" name="categoriaCenso">
                                 <option value="0" >Seleccione una Categoria</option>
                            </select>
                        </td> 
                    </tr>
                    <tr>
                        <td style=" font-size: 12px; text-align: right" valign="top" >Total a utilizar para el Universo:</td>
                        <td><input type="radio" name="tipTotAct" value="1"/> Total General<br></br>
                            <input type="radio" name="tipTotAct" value="2"/> Poblacion Promotores de Salud
                        </td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Cobertura:</td>
                        <td><input name="cobAct" id="cobAct" type="text" size="20" value="0" /></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 12px" >Concentracion:</td>
                        <td><input name="conAct" id="conAct" type="text" size="20" value="0" /></td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px" >Supuestos Factores Condicionantes:</td>
                        <td><input name="supAct" id="supAct" type="text" size="60" maxlength="255" /></td>
                    </tr>
                      <tr>
                          <td style=" font-size: 12px" ><br></br></td>
                        <td></td>
                    </tr>
                     <tr>
                        <td style=" font-size: 12px; text-align: right" valign="top" >Meta Anual(*):</td>
                        <td><input class="required" type="radio" name="metAnuAct" value="1"> Digitada<br></br>
                            <input class="required" type="radio" name="metAnuAct" value="2"> Calculada por Cantidad *  Concentracion<br></br>
                            <input class="required" type="radio" name="metAnuAct" value="3"> Formula
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submmit" id="guardarResEsp"  >Guardar</button>
                            <button type="reset" id="limpiarResEsp"  >Limpiar</button>
                            <button type="button" id="regresarResEsp"  >Regresar</button>
                        </td>
                    </tr>

                </table>
                <input type='hidden' name='idObj' id="idObj" value='{{idObj}}' />
                <input type='hidden' name='idResEsp' id="idResEsp" value='{{idResEsp}}' />  
                <input type='hidden' name='oper' id="oper" value='add' />
                  </div>
                </div>
{% endif%}
            </form>
{% endblock %}