 <table WIDTH='85%' class="tablaPlantilla">
    <thead>
        <tr  style=" font-size: 14px;">
            <th class="thEncabezadoPlantilla"><strong>  Cod </strong></th>
            <th class="thEncabezadoPlantilla"><strong> Actividades </strong></th>
            <th class="thEncabezadoPlantilla"><strong>  Acciones </strong></th>
        </tr>
    </thead>
    <tbody>
{% if actUnisal is defined %}   
    {% for  actividad in  actUnisal%}
    <tr>
        <td class="tdCuerpoPlantilla">{%if actividad.nomenActUniTemp is null%}<strong> En Asignación </strong>{%else%}{{actividad.nomenActUniTemp}}{%endif%}</td>
        <td class="tdCuerpoPlantilla">{{actividad.descActUniTemp}}</td>
        <td class="tdBotonesIconos" WIDTH='60' >
            <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}" id="editar" value="Editar" onclick="$('#idAct').attr('value',{{actividad.codActUniTemp}});this.form.action='{{path('MinSalSidPlaTemplateUnisalBundle_editarActUnisalTemplate')}}';" />
            <br/>Editar
        </td>
    </tr>
    {% endfor %}
 {% endif %}
    </tbody>
</table>