{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% block body %}
<script type="text/javascript">
 $(document).ready(function(){
   function cargarAnio(){
        $("#{{ "now" | date("Y") }}Div").hide(); 
        $("#{{ "now" | date("Y")+1 }}Div").hide(); 
        
      $("#"+$('#selanio').val()+"Div").show();
      $('#theGridObj').setGridParam({
          url:'consultarObjetivosEspecificosTemplateJSON?anio='+$('#selanio').val(),
          datatype:'json'
         }).trigger("reloadGrid"); 
   }
   $('#selanio').change(cargarAnio);
       
    {% if objTemplates is defined %}
    {%set i = 0 %}
    {%for objEspecificoTemplate in objTemplates%}
        {% if i==0 %}
           $("#{{ "now" | date("Y") }}Div").show(); 
         {% else %}
           $("#{{ "now" | date("Y")+1 }}Div").hide();
        {% endif %}
        {%set i = i+1 %}
    {% endfor%}
    {% endif %}
      
});
    </script>
    <form action="{{ path('MinSalSidPlaGesObjEspEntControlBundle_consultarResultadosEsperadosTemplate') }}" method="post">
        <table align="center">
            <tr><td align="center"><h1>Gestion de Objetivos Especificos Para SIBASI y Regiones de Salud</h1>
                </td>
            </tr>
            <tr>
                <td align="center" style=" font-size: 12px"><strong>Seleccione el Año a Gestionar </strong>
                    <select id='selanio'>
                        <option value='{{ "now" | date("Y") }}'>{{ "now" | date("Y") }}</option>
                        <option value='{{ "now" | date("Y")+1 }}'>{{ "now" | date("Y")+1 }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center" class="tdBotonesIconos" >
                    <input width="60" height="60" type="image" src="{{ asset('/images/iconos/agregar.png')}}" id="agregarObjTempButton"/>
                    <br/>Agregar Objetivo

                </td>
            </tr>
            <tr>
                <td align="center">
                    <br></br>                
                {% include 'MinSalSidPlaGesObjEspEntControlBundle:GestionObjetivosEspecificosTemplate:showAllObjetivosEspecificos.html.twig' %} 
                </td>
            </tr>        
        </table>        
    </form>
    <br></br>
    <br></br>


{% endblock %}
