{# Muestra todos las opciones #}
{% block body %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#agregarObjTempButton').click(function() {
 
        $('#anio').attr('value', $('#selanio').val());
        this.form.action='{{ path('MinSalSidPlaGesObjEspEntControlBundle_ingresarObjEspTemplate') }}';
    });

  
});
</script>
    <form action= "" method="post">
        <input type='hidden' name='idfilaobj' id="idfilaobj" value='' />
        <input type='hidden' name='anio' id="anio" value='' />
        <input type='hidden' name='idfila' id="idfila" value='' />
        <div id="grid_wrapper" class="ui-corner-all floatLeft">
            <table id="theGridObj" class="scroll" ></table> 
            <div id="pagerObj"  class="scroll"></div> 
        </div>
{% if objTemplates is defined %}
    {%set i = 0 %}
    {%for objEspecificoTemplate in objTemplates%}
        <div {% if i==0 %} id='{{ "now" | date("Y") }}Div' {% else %}  id='{{ "now" | date("Y")+1 }}Div' {% endif %}>
            <table border="1" WIDTH='85%'>
                <thead>
                    <tr  style=" font-size: 14px;">
                        <th><strong>  Objetivo </strong>
                        </th>
                        <th colspan="2"><strong>  Acciones </strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
       {%for obj in objEspecificoTemplate%}
                        <tr>
                            <td style=" font-size: 12px;">{{ obj.getIdObjEspec.getDescripcion}}
                            </td>
                            <td class="tdBotonesIconos" WIDTH='60' >
                                <input width="50" height="50" type="image" src="{{ asset('/images/iconos/editar.png')}}"  id="editar" onclick="$('#idfilaobj').attr('value',{{obj.getIdObjEspec.getIdObjEspec}});$('#anio').attr('value', $('#selanio').val());this.form.action='{{path('MinSalSidPlaGesObjEspEntControlBundle_editarObjEspTemplate')}}';" />
                                <br/>Editar
                            </td>
                            <td class="tdBotonesIconos" WIDTH='60' >
                                <input width="50" height="50" type="image" src="{{ asset('/images/iconos/gestion.png')}}"  id="resultadoEsperado" onclick="$('#idfila').attr('value',{{obj.getIdObjEspTempl}});document.location.href='{{ path('MinSalSidPlaGesObjEspBundle_consultarResultadosEsperados')}}';" />
                                <br/>Resultados Esperados
                            </td>
                        </tr>
       {%endfor%}

                    </tbody>
                </table>
            </div>
   {%set i = i+1 %}
   {%endfor%}
   
{% endif %}
        </form>  

{% endblock %}
